[2020-04-22 16:40] MushMal commented on #421
The log shows aclocal is missing. Please install the build prerequisites like the compiler and the build tools. Resolving

[2020-04-22 16:40] #421 closed

[2020-04-22 17:42] jelling commented on #417
This [Mulesoft gives a concise explanation of the issue](https://help.mulesoft.com/s/article/Variables-LD-LIBRARY-PATH-DYLD-LIBRARY-PATH-are-ignored-on-MAC-OS-if-System-Integrity-Protect-SIP-is-enable).

They recommend turning off System Integrity Protection (SIP) but I'm not quite ready to do that. Is there another way to workaround this?

[2020-04-22 18:20] MushMal commented on #418
@rgroleau I am still not sure what's causing this. kvssink doesn't uninit the pipeline. It can generate an error though that will tear down the pipeline.

Can we get debug logs for the kvssink? Also, try to enable the GST debug logs by specifying GST_DEBUG=4 env variable (I think you are doing that already). Let's capture some longer logs and attach it to the issue.

[2020-04-22 18:23] MushMal commented on #417
I assume you are using Mac OS Catalina and it fails due to the SIP. I haven't tested it on Catalina yet. Not sure if there are easy ways other than disabling SIP.

However, prior doing that. Have you tried specifying GST_PLUGIN_PATH?

[2020-04-22 18:29] MushMal commented on #420
In the latest commits we moved towards CMake based build system. The documentation hasn't been updated yet.

Could you please follow the build steps highlighted in https://github.com/awslabs/amazon-kinesis-video-streams-producer-sdk-cpp/blob/master/README.md

Include some details as to what's failing so we can help debugging.

[2020-04-22 18:30] MushMal commented on #416
@henryChmn not sure whether these logs are intended for this issue.

[2020-04-22 18:31] jelling commented on #417
@MushMal yeah GST_PLUGIN_PATH is specified.

C++ is outside my usual wheelhouse but would it be possible to create a symbolic link inside of the directories in the MacOS LD_LIBRARY_PATH?

[2020-04-22 19:15] jelling commented on #417
I went ahead and disabled SIP and successfully reran the build but it still can't find kvssink:

![image](https://user-images.githubusercontent.com/1887486/80023640-d66d9000-84ab-11ea-9ffa-ae9b41d62cee.png)

[2020-04-22 19:40] MushMal commented on #417
Just to confirm, you do specify the path correctly? using 'pwd' points to it correct?
Nothing stands out immediately as to why it's not loading except the incorrect path. Could you also set

`export GST_DEBUG=5`

to get more debug spew from GStreamer?

[2020-04-22 19:41] chehefen commented on #417
when you run `which gst-launch-1.0` what does it return? can you try also export GST_PLUGIN_PATH_1_0 to the same path?

[2020-04-22 20:25] jelling commented on #417
Yes paths are set to same dir as from where I'm running and gst-launch path set to /usr/local/bin/gst-launch-1.0:

![image](https://user-images.githubusercontent.com/1887486/80029535-e6d63880-84b4-11ea-8d29-ed8f3e27b6d5.png)

gst-launch path is set to which points to `/usr/local/bin/gst-launch-1.0 ` `../Cellar/gstreamer/1.16.2/bin/gst-launch-1.0

Bottom part of debug output:

[code]

[2020-04-23 00:04] suggestedfixes commented on #374
I forgot about this issue. Back to reproducing this.

[2020-04-23 01:08] henryChmn commented on #416
yes, it's for webrtc.

[2020-04-23 01:36] rgroleau commented on #418
So I found it: kvssink causes an alignment trap on my platform. Which forces the various plugins to uninit, and then of course going from uninit to any other state is a no go for them. I will try compiling with various switches to try and find which pointer access is causing this alignment trap (starting with debug compilation, then -fsanitize=address and -fsanitize=undefined) or maybe just to a -

[2020-04-23 01:50] chehefen commented on #417
you can do `gst-inspect-1.0 appsink` and in the plugin details you will see where the file is. Most likely in /usr/local/lib/gstreamer-1.0/. You can copy the libgstkvssink.so there and you wont need the GST_PLUGIN_PATH and GST_PLUGIN_PATH_1_0 environment variable anymore.

[2020-04-23 01:52] MushMal commented on #418
Oh NICE!!! OK, here is what you can do. Specify ALIGNED_MEMORY_MODEL compile variable and re-compile PIC.

https://github.com/awslabs/amazon-kinesis-video-streams-pic#note-on-alignment

The rest should be aligned.

[2020-04-23 01:58] MushMal commented on #416
@henryChmn this is a KVS CPP repository, it's not WebRTC.

At any rate, looking at ipcam_debug_verbose_log.txt I can see that you are able to establish connectivity with the Signaling service which means that your IoT integration for WebRTC works fine. However, it seems that there is an issue with the TURN connection. I am not sure yet what's wrong with that - likely a bug that was fixed earlier.

[2020-04-23 12:13] JuanCarlos-Arce commented on #420
Hi,

Following the steps of the README.md on Windows and compiling with VS2017 I receive an error during the

while the library compiles **project_libopenssl**. The error that I have is:

-- The C compiler identification is MSVC 19.16.27038.0
-- The CXX compiler identification is MSVC 19.16.27038.0
....
....
This version of amazon-kinesis-video-streams-producer-sdk-cpp\open-source\libopenssl\build

[2020-04-23 13:47] rgroleau commented on #418
That was it! That parameter fixed it! Thanks @MushMal for all your help!

[2020-04-23 13:47] #418 closed

[2020-04-23 15:43] jelling commented on #417
Thanks. This got me further but I then hit an issue with finding `openssl` which I assume is totally unrelated. Closing this issue.

[2020-04-23 15:43] #417 closed

[2020-04-23 17:39] sharadrj opened #423 "Missing documentation in readme"
The install guides that have been removed recently contained useful documentation sections that should make its way to the readme.

Example:
- [x] Using Docker
- [x] Running the GStreamer RTSP demo application
- [x] Running C++ Unit tests
- [x] Enabling verbose logs
- [x] How to configure logging for producer SDK sample applications.
- [x] Troubleshooting
- [x] Open source dependencies
- [x] Updat

[2020-04-23 18:27] disa6302 opened #424 "Parse parameters from json file in samples"
Add more control to modify different parameters that control streams in samples.

[2020-04-24 16:49] mjtk-ktjm commented on #415
Thanks for the notes disa6302@

I read them in the wrong order, and so tried steps 1 and 2, which did enable me to make the project and utilize it in the blog post.

[2020-04-24 17:12] disa6302 commented on #415
Glad it worked!

[2020-04-26 18:24] mwildehahn opened #426 "Instructions in README don't work"
Given the following Dockerfile:

[code]

Building results in:

[code]

Is there something I'm missing?

[2020-04-26 18:54] mwildehahn commented on #426
I updated the Dockerfile to this:

[code]

But this now fails with:

[code]

[2020-04-26 19:47] Sean-Der commented on #426
Hey @mwildehahn

Can you update the `git clone` include the `--recursive`?

For your first Dockerfile I am not sure, does `build-essential` pull in `aclocal-1.16` ?

[2020-04-26 20:43] mwildehahn commented on #426
Yup, that isn't in the README but I realized that was missing from reading it in some other instructions.

I think this is the correct Dockerfile:

[code]

After everything builds I'm having issues registering the kvssink with gts-launch though:

[code]

How do I register the kvssink with gstreamer?

[2020-04-26 21:09] mwildehahn commented on #426
Ah I was missing exports from these instructions: https://docs.aws.amazon.com/kinesisvideostreams/latest/dg/examples-gstreamer-plugin.html. Will try that and see.

[2020-04-26 21:19] mwildehahn commented on #426
Hm I adjusted those exports to match the updated directory structure:

[code]

and it still isn't able to find it

[2020-04-26 21:50] Sean-Der commented on #426
In your build directory do you have `libgstkvssink.so`?

If I execute

    LD_LIBRARY_PATH=`pwd`/../open-source/local/lib GST_PLUGIN_PATH=`pwd` gst-inspect-1.0 kvssink

I get the plugin details. The plugin may be blacklisted, try removing `rm -rf ~/.cache/gstreamer-1.0/`

I am working on updating the docs, they are in a PR now. Should be done today!

[2020-04-27 05:13] mwildehahn commented on #426
Thanks for the responses today!

This was the final Dockerfile which got everything working:

[code]

[2020-04-27 08:45] js1972 opened #427 "Unable to build following readme - 'aclocal-1.16' is missing on your system"
After issuing this command `cmake .. -DBUILD_GSTREAMER_PLUGIN=ON` I end up with the following error:

[code]

I have already installed autotools.

In a previous version you used to have a script called min-install-script and this worked well.

[2020-04-27 17:29] Sean-Der commented on #427
@js1972 What version of `autotools` do you have? Some distros provide distinct versions because they break compatibility.

I am going to update our build system to build autotools in-tree, this has caused a lot of headache for people. sorry about that!

[2020-04-27 23:18] Sean-Der commented on #427
Hey @js1972 can you try out the PR I just pushed ^

Instead of using the global automake/autoconf we are just going to bundle it.

[2020-04-27 23:20] Sean-Der commented on #426
Happy to help @mwildehahn!

I also pushed a PR that builds autoconf/automake for us. We have been getting lots of PRs that this is a sticking point, so that should make it easier in the future :)

Closing, but if you still have issues please re-open!

[2020-04-27 23:20] #426 closed

[2020-04-28 00:24] js1972 commented on #427
I've just managed to get it working from the branch "2018...." (the old way). Can I just git clone the master branch to test the build without effecting my other installation? What I'm after is kvssink and this produces a worrking version.

What are the reasons and differences to the new way of installing the kinesis producer library?

[2020-04-28 01:55] Sean-Der commented on #427
If you get a chance I would pull that PR, you are going to be missing out on a lot of bug fixes.

I am probably forgetting some, but these were my motivations.

* We are splitting out everything into unique repos. We released a C WebRTC implementation, and we didn't want to slow people down who only wanted to use one of our products.
* portability issues/bugs with shell scripts. We would break thi

[2020-04-28 03:09] farleylai commented on #405
In case of confusion with awslabs/amazon-kinesis-video-streams-pic#43,
I am asking whether the decoding error is gone because the SEI is skipped given the following video input where the SEI is not the very first NALU:
- key frame with SPS/PPS/SEI but no IDR followed by
- key frame with SPS/PPS/SPS/PPS/IDR

In this case, the KVS console player does not return or show any errors.
However, if the SE

[2020-04-28 03:57] js1972 commented on #427
@Sean-Der thanks. The build works well now using PR 429. However I'm unable to use the kvssink component. I get the error `No such element or plugin 'kvssink'` but I have already set `export GST_PLUGIN_PATH=`pwd`/build`.

In the old versions you needed to also set  an env var called LD_LIBRARY_PATH - is that still required but just not documented? The directory it used to point to is now gone. It

[2020-04-28 04:40] Sean-Der commented on #427
Oh yes I missed that sorry, only documented under the platform specific instructions

```LD_LIBRARY_PATH=`pwd`/open-source/lib``` also make sure to clean your plugin blacklist. `~/.cache/gstreamer-1.0/` will update the README if that fixes it for you.

[2020-04-28 06:37] js1972 commented on #427
gst-inspect-1.0 still can't seem to find kvssink, but after I clear the blacklist I see the following output:

[code]

I'd previously set:
[code]

[2020-04-28 06:58] js1972 commented on #427
ok solved it. Had to add local into you directory list for the LD_LIBRARY_PATH and additionally add `/home/jason/dev/amazon-kinesis-video-streams-producer-sdk-cpp/open-source/local/lib:/home/jason/dev/amazon-kinesis-video-streams-producer-sdk-cpp/build/kvscproducer`

Thankyou for all your help here. Seems to be installed properly based on your PR. I'll now test streaming up to kinesis.

Has anythi

[2020-04-28 07:08] js1972 commented on #427
Have tested streaming from a h.264 rtsp camera up into kinesis video with this version and all works great! Thankyou @Sean-Der for your amazingly quick support. Very much appreciated.

[2020-04-28 07:08] #427 closed

[2020-04-28 11:29] #415 closed

[2020-04-28 21:00] mwildehahn opened #430 "Conflict when packaging with nginx"
I'm trying to hook up the nginx-rtmp module to support accepting RTMP and then using gstreamer to publish to Kinesis Video Stream.

I got this docker image working which installs and builds everything correctly:

[code]

But when running it, there is a conflict with openssl:

[code]

Any ideas on how to get around this?

[2020-04-28 21:31] MushMal commented on #430
Curious if the order in setting LD_LIBRARY_PATH matters.

[2020-04-28 21:43] mwildehahn commented on #430
This is all I have in the LD_LIBRARY_PATH right now:

[code]

[2020-04-28 21:48] mwildehahn commented on #430
I've never worked with cpp before, but I'm curious if there is a way to package kvssink by itself so I can copy it over into another container and not have any of these build dependencies around?

[2020-04-28 22:29] mwildehahn commented on #430
Also, when just trying to run gstreamer, seeing this:

[code]

[2020-04-28 23:23] dvsantana opened #431 "Unable to get RTSP streaming with H 265 Video Encoding with error "Pad link failed""
I'm using the producer library in a Raspberry Pi 3 to stream from RTSP source.

I tried using the sample multistream app (kinesis_video_gstreamer_sample_multistream_app) to send a H265 video source to AWS KVS.

When I try to send the stream with H265, 1080p, VBR, and 15fps, I get the message "New RTSP source found: / Source Link FAILED" error twice and no information about the streams. It sends th

[2020-04-28 23:45] Sean-Der commented on #430
So I think the best thing you can do is not build dependencies automatically, and instead use the system libraries. You can configure that use CMake.

It looks like nginx is linked against a different version of OpenSSL, and you are going to trip over the ABI differences. You could also maybe change the version of libraries we use! You can get into that in CMake/Dependencies.

[2020-04-29 00:04] disa6302 commented on #430
@mwildehahn , can you also add this path to LD_LIBRARY_PATH?
`/usr/local/lib`, assuming the openssl on your ubuntu system is installed here and see if it solves your problem

Regarding kvssink package, as far as I know, we do not provide anyway to package kvssink by itself, @MushMal might have a better idea this.

Regarding the log4cplus error: Try adding the `log-config=samples/kvs_log_configurat

[2020-04-29 04:40] mwildehahn commented on #430
:yay: updating openssl fixed the issue. Do you want me to open up a PR for that?

Also, thank you @disa6302 , that worked!

Y'all are the best.

[2020-04-29 05:22] MushMal commented on #430
RE: The packaging. kvssink is a dynamic library which has a dependency on GStreamer libraries and CPP producer dynamic library which in turn has a dependency on log4cplus and C producer dynamic library, which, in turn depends on libCurl, openSSL and libCrypto. It is possible to ship the kvs sink and let it link to the system versions of the libraries but it is likely to result in mismatched versio

[2020-04-29 05:31] MushMal commented on #431
@dvsantana the issue really is about how to configure the RTSP plugin rather the KVS itself. The KVS does support H265 ingestion and playback in the console (as long as your browser supports the MSE with H265).

Could you please enable GStreamer debug logs to understand why the Pads are not being negotiated?

Set GST_DEBUG=4 env var like so

`export GST_DEBUG=4`

[2020-04-29 07:12] mwildehahn opened #433 "Nginx -> gstreamer -> kinesis"
I don't think this is related to this library, but hoping y'all can point me in the right direction on this. I'm trying to ingest an RTMP stream from something like OBS (https://obsproject.com/) into Kinesis. Since Kinesis doesn't directly support RTMP, I'm running nginx with the nginx-rtmp module.

I finally got everything installed and hooked up correctly but with the following nginx file:

[cod

[2020-04-29 07:57] MushMal commented on #433
@mwildehahn It's not immediately clear why the GStreamer tears down the pipeline. Could you set GST_DEBUG=4 env variable to make GStreamer to spew debug logs so we can see if anything is misconfigured?

[2020-04-29 13:01] dvsantana commented on #431
@MushMal, thanks for the quick reply!
The log was very long this time:
[code]

[2020-04-29 17:46] mwildehahn commented on #433
I added that but looks like it is the same output as above (which includes `[DEBUG]` logs). I added some additional logs and rebuilt:

[code]

From this:
- I thought nginx might be terminating the gstreamer process early for some reason, but the `[WRAPPER_DEBUG] FINISHED` gets echo'd out after the gstreamer process runs so this verifies there is something within the plugin that thinks it completed

[2020-04-29 19:01] MushMal commented on #431
It's not really clear to me what's causing the TEARDOWN. Seems like the rtsp module. Might need more eyes on it. @chehefen any ideas?

[2020-04-29 19:07] dvsantana commented on #431
From the sample_app, it seems like it looks only for h264 encoding. Could that be the reason?

[2020-04-29 19:37] mwildehahn commented on #433
I played with the gstreamer invocation and ended up with this:

[code]

This started streaming to kinesis, which is great! But it only happened after I hit stream in OBS several times. Here are the full logs: https://gist.github.com/mwildehahn/8b1cee9cb49fe91f6ae55198309d1a8b. It creates the stream successfully when it gets initialized, and then just loops through restarting numerous times. Eventu

[2020-04-29 22:17] mwildehahn commented on #433
I've been trying to reproduce how to get this to work, still can't see a pattern. It only seems to work if I start/stop streaming repeatedly, then trigger:

[code]

[code]

which then results in:

[code]

It seems to be attempting to push to kinesis at least, but seeing a lot of warnings around dropped frames:

[code]

[2020-04-29 22:44] disa6302 commented on #433
@mwildehahn ,

I am not quite sure whats happening. I will have to spend some time to figure out what might be going on. Will get back as soon as I have something. Thank you for your patience in the meantime!

[2020-04-29 23:17] mwildehahn commented on #433
Thank you! Let me know if I can provide anything else.

[2020-04-30 03:39] mwildehahn commented on #433
I was able to get logs: https://gist.github.com/mwildehahn/58aaa5fcf4a75b3f64fbbf6f5bef29f9

I think this might be an issue with my gstreamer pipeline. I'm trying to route both audio and video to kinesis and using:

[code]

[2020-04-30 04:15] mwildehahn commented on #433
Ah! I'm so close but this is my first time using gstreamer so I must be missing something about setting this up.

I updated to this:

[code]

based off some recommendations here: https://github.com/matthew1000/gstreamer-cheat-sheet/blob/master/rtmp.md.

This is the new kvs.log (which I hadn't been creating previously because I hadn't configured the `log-config`): https://gist.github.com/mwildehahn

[2020-04-30 05:57] sumanghosh12 opened #434 "Build failing in Redhat Linux"
-- Begin building dependencies.
-- openssl already built
-- curl already built
-- Finished building dependencies.
**-- Checking for module 'libcurl'
--   No package 'libcurl' found**
CMake Error at /usr/local/share/cmake-3.6/Modules/FindPkgConfig.cmake:424 (message):
  A required package was not found
Call Stack (most recent call first):
  /usr/local/share/cmake-3.6/Modules/FindPkgConfig.cmake:597

[2020-04-30 06:08] disa6302 commented on #434
@sumanghosh12 ,

Have you installed libcurl4-openssl-dev on your system?

[2020-04-30 07:03] sumanghosh12 commented on #434
@disa6302  thanks- After installing libcurl4-openssl-dev, I am able to proceed further.

Now I am stuck with gstreamer package. Are you using Redhat? How is you install it?

I followed this link but no success.
https://gstreamer.freedesktop.org/download/redhat.html

Error details:
 yum install gstreamer-universe
Loaded plugins: product-id, search-disabled-repos, subscription-manager
http://gstream

[2020-04-30 15:36] nik13 opened #435 "Files structure mismatch from the aws documentation"
Hi Team,

Looks like the whole file structure and files have changed from the latest push. There is no docker_native_scripts folder and files. Where do I exactly find them?

[2020-04-30 17:16] disa6302 commented on #434
@sumanghosh12 ,

Can you install the following packages using yum and let me know if it works?
1. ibgstreamer1.0-dev
2. libgstreamer-plugins-base1.0-dev
3. gstreamer1.0-plugins-base-apps
4. gstreamer1.0-plugins-bad
5. gstreamer1.0-plugins-good
6. gstreamer1.0-plugins-ugly
7. gstreamer1.0-tools

[2020-04-30 17:33] disa6302 commented on #433
@mwildehahn ,

From the logs, I see this error:
`0:00:01.163964500    34 0x55aa35abacc0 INFO        GST_ELEMENT_PADS gstelement.c:912:gst_element_get_static_pad: no such pad 'sink' in element "rtmpsrc"`

This is what is probably causing issues. Because, it looks like the other pads are getting created just fine.

[2020-04-30 17:51] disa6302 commented on #430
Closing this issue since the problem is fixed.

[2020-04-30 17:51] #430 closed

[2020-04-30 18:04] disa6302 commented on #313
Closing this because documentation related item is tracked #423

[2020-04-30 18:04] #313 closed

[2020-04-30 18:11] disa6302 commented on #435
@nik13 ,

We have removed docker related folder from this repo.

The repo went through a revamp recently and we are working on getting the documentation fixed in aws as well.

As far as dockerscripts, we are working on adding to our repos. There is no ETA on it yet.

Meanwhile, if you would like a reference the docker scripts, you could look at version[ 2.1.0](https://github.com/awslabs/amazon-kin

[2020-04-30 18:30] disa6302 commented on #382
Closing this issue. @HsaeedAhmad , feel free to open a new issue if you face any problems. Make sure to check out the latest commits because our repo has gone through some changes.

[2020-04-30 18:30] #382 closed

[2020-04-30 18:34] disa6302 commented on #321
Closing this issue.

[2020-04-30 18:34] #321 closed

[2020-04-30 18:52] mwildehahn commented on #433
Hm, I thought that might be due to it not being available there but being dynamically linked later.

I made some tweaks to the gstreamer invocation and ended up with this:

[code]

Here are the resulting logs: https://gist.github.com/mwildehahn/abdd1eee54acbf75fb5001800a612cf1

This consistently works for video! Which is awesome! But I'm not sure if it is working for audio. In the AWS console I do

[2020-05-01 01:35] sumanghosh12 commented on #434
@disa6302  -
Not able to install any of them in redhat linux.
Thanks,
Suman

[2020-05-01 05:00] sumanghosh12 commented on #434
@disa6302 Able to successfully build the the code. I used yum install gstreamer*
When I execute gst-launch-1.0, I am getting the following error
**ERROR - WARNING: erroneous pipeline: no element "kvssink"**
I am running it from build directory. I am not able to locate : libgstkvssink.so anywhere in my machine.

gst-launch-1.0 rtspsrc location="rtsp://<RTSP_URL>" short-header=TRUE ! rtph264depay !

[2020-05-01 05:04] disa6302 commented on #434
@sumanghosh12 ,

The lib will be available in the build directory.

Please ensure you ran the following cmake command:

`cmake .. -DBUILD_GSTREAMER_PLUGIN=ON`

If this passes successfully, you can run `make`. Once this goes through, the library should be located in the build directory. You also need to run `export GST_PLUGIN_PATH=$PWD/build`

[2020-05-01 05:36] sumanghosh12 commented on #434
@disa6302
**Success**
I am able to send the live stream from camera to Kinesis Video stream.

I do see this error in the very first line:**log4cplus:ERROR could not open file ./kvs_log_configuration**?
How do I stop the pipeline?

[2020-05-01 05:47] sumanghosh12 commented on #434
@disa6302 - Thanks.

Getting this error:

Setting pipeline to PAUSED ...
log4cplus:ERROR could not open file ./kvs_log_configuration
eating Kinesis Video Client
 INFO - heapInitialize(): Initializing native heap with limit size 536870912, spill ratio 0% and flags 0x00000001
 INFO - heapInitialize(): Creating AIV heap.
 INFO - heapInitialize(): Heap is initialized OK
 DEBUG - stepStateMachine(): St

[2020-05-01 05:55] MushMal commented on #434
@sumanghosh12 seems like you have an issue with your pipeline, specifically with the rtsp plugin in UDP mode.

Try enabling GStreamer debug logs by setting GST_DEBUG environment variable like so

`export GST_DEBUG=4`

and re-running the pipeline as recommended here: https://github.com/awslabs/amazon-kinesis-video-streams-producer-sdk-cpp/issues/193#issuecomment-474093882

[2020-05-01 06:30] sumanghosh12 commented on #193
@MushMal

Here is the GST Debug log.

Some useful command to capture the GST Debug logs and redirect them to a file.
export GST_DEBUG_NO_COLOR=1
export GST_DEBUG_FILE=test.txt

GST Debug log below.

0:00:00.000207127  3744      0x218ee00 INFO                GST_INIT gst.c:510:init_pre: Initializing GStreamer Core Library version 1.10.4
0:00:00.000271080  3744      0x218ee00 INFO                GST

[2020-05-01 07:15] sumanghosh12 commented on #434
@disa6302  I am able to send live stream now from my Linux server. Thank you.

[2020-05-01 07:15] #434 closed

[2020-05-01 22:45] darkeyeai opened #437 "Error "No such element or plugin 'kvssink'"
Hi,

I am following the documentation on https://docs.aws.amazon.com/kinesisvideostreams/latest/dg/gs-send-data.html exactly as written, with the exception of downloading the SDK, which I have done via this GitHub page. I am having two issues:

1. **kinesis-video-native-build** directory does not exist. I cannot locate it.
2. I receive this error: _No such element or plugin 'kvssink'_
when I run `

[2020-05-01 22:48] disa6302 commented on #437
@darkeyeai ,

Please follow the instructions in the github page. We have moved to a CMake build system and do not have the native-build directory anymore. Thanks!

[2020-05-01 22:58] darkeyeai commented on #437
Thank you for the quick response. That solves issue one.

I have followed the directions completely on the github page, but am still receiving the error:
**No such element or plugin 'kvssink**

Thanks in advance.

[2020-05-01 23:02] disa6302 commented on #437
Can you check if you have the plugin library in the build directory? You need to run export `GST_PLUGIN_PATH=$PWD/build`. Make sure your `cmake` and `make` ran through with no errors.

Also, ensure you run `cmake` with `-DBUILD_GSTREAMER_PLUGIN=ON`

[2020-05-01 23:08] darkeyeai commented on #437
Got it working, thank you. I was running `cmake` with `-DBUILD_GSTREAMER_PLUGIN=ON`in a wrong directory.

Thanks Divya!

[2020-05-01 23:08] #437 closed

[2020-05-03 22:28] disa6302 commented on #433
@mwildehahn ,

Apologies for the delayed response. Is your audio pipeline working now?

[2020-05-03 22:29] disa6302 commented on #435
Hello @nik13 ,

We will be adding the docker scripts to https://github.com/aws-samples/amazon-kinesis-video-streams-demos. Closing this for now. Feel free to re-open the issue in the future.

[2020-05-03 22:29] #435 closed

[2020-05-03 22:31] disa6302 commented on #420
Closing this issue based on Mushmal's comment. Feel free to open a new issue if you face problems with the new repo.

[2020-05-03 22:31] #420 closed

[2020-05-03 22:55] disa6302 commented on #431
@dvsantana ,
Have you tried giving `video/h265` as the value for content-type?

[2020-05-03 23:28] dvsantana commented on #431
@disa6302 ,
I have,
I also changed the other occurences of 264 to 265 to see if I would get anything different, and I got another error, so maybe it is not allowed

[2020-05-04 00:29] dvsantana commented on #431
This is the error I get when I change every occurrence of 264 to 265 (7 occurrences) in the sample multistream app.

There is a line which might be a problem, that contains:
`logStreamInfo(): 	Codec id: V_MPEG4/ISO/AVC `

[code]

[2020-05-04 07:01] bpawlik opened #438 "CMake fails with -DBUILD_DEPENDENCIES=OFF"
Cmake fails with -DBUILD_DEPENDENCIES=OFF

Apparently JSMN lib is missing, but I don't know of any existing apt-get package including it. Perhaps this one should be always build from source?

[code]

[2020-05-04 07:05] disa6302 commented on #438
@bpawlik ,

You are right. There is no apt-get for this. It should always be built from source. I would still suggest you to run `cmake` with the flag ON, so that these packages are taken care of. Also, this flag is ON by default.

[2020-05-04 07:13] bpawlik commented on #438
Thanks for quick response.

The issue is that I have other components that rely on openssl and I get version mismatch at runtime. One option would be to link against KVS repo, but it's ugly and adds unnecessary complexity. Elegant way would be that they all use the same system level library.

[2020-05-04 07:19] disa6302 commented on #438
@bpawlik ,

You can do that. For jsmn, you can run the steps in the Libjsmn specific cmake file which you find in the CMake directory. That should work.

[2020-05-04 07:25] bpawlik commented on #438
There are two issues if I do that:

1) There is a bug in CMakeLists.txt file: find_library will fails cause this line `set(OPEN_SRC_INSTALL_PREFIX ${KINESIS_VIDEO_OPEN_SOURCE_SRC}/local)` is hidden behind BUILD_DEPENDENCIES if-clause

2) Submodule amazon-kinesis-video-streams-producer-c should switch from find_package to find_library with PATHS pointing to open-source/local

[2020-05-04 14:36] dvsantana commented on #431
The stream-format was causing the issue, it seems.
For this, I switched the capsfilter to:

[code]

Will run a few more tests and will close the issue if everything works as it should.

[2020-05-04 16:12] disa6302 commented on #431
Sure @dvsantana ! Thanks.

[2020-05-04 21:32] MushMal commented on #99
We are still looking into this. Not ETA yet. Just wanted to update

[2020-05-04 22:39] dvsantana commented on #431
It still isn't working. It looks like the stream is being sent, but somehow it is not working.

[code]

With the following line in the GST_DEBUG=4

`0:00:57.043961846  2061   0xbcbef0 FIXME           rtph265depay gstrtph265depay.c:1278:gst_rtp_h265_depay_process:<depay> Assuming DONL field is not present`

From this, there is no support for hvc1. But when I use the other possibilities, which are h

[2020-05-04 23:23] chehefen commented on #431
rtph265depay should support hvc1 as described in its template:
[code]

[2020-05-05 00:40] dvsantana commented on #431
@chehefen yes, that's where I got it from, but I'm still getting that FIXME. Should I just ignore it? It looks like the stream is transmitting.

[2020-05-05 01:00] zhiyua-git commented on #431
Hi @dvsantana ,

From your previous log, seems you were hitting ERROR ACK max fragment duration exceeded, which means your stream doesn't provide I-frame for 10 seconds. Can you check if you can tune the rtsp source or through the gstreamer pipeline to generate I-frame more often? Thanks.

[2020-05-05 01:13] dvsantana commented on #431
@zhiyua-git , I've fixed that already, but it sure was the problem in the previous log, thanks for noticing. Now I'm able to send the stream, however, I'm still getting that FIXME. It doesn't seem to affect the stream since I'm getting all the confirmations on the logs:

[code]

Also, I'm not able to see it in the KVS console, but that was expected as it says it only allows H264, or in my applicat

[2020-05-05 01:21] zhiyua-git commented on #431
@dvsantana , you will need to also update the codec id https://github.com/awslabs/amazon-kinesis-video-streams-producer-sdk-cpp/blob/824de900c2d4b42a403319ace5de9d68ec88b171/kinesis-video-gst-demo/kinesis_video_gstreamer_sample_app.cpp#L46 to "**V_MPEGH/ISO/HEVC**" as backend relies on it to check if it is h264 or h265. And you can try to verify the playback on https://aws-samples.github.io/amazon

[2020-05-05 01:38] dvsantana commented on #431
@zhiyua-git I changed it, the FIXME is still happening `0:00:57.043961846 2061 0xbcbef0 FIXME rtph265depay gstrtph265depay.c:1278:gst_rtp_h265_depay_process:<depay> Assuming DONL field is not present`

To verify that playback, to I need to be on a specific browser?

[2020-05-05 01:56] dvsantana commented on #431
Isn't this supposed to be working? Or am I doing something wrong?

![image](https://user-images.githubusercontent.com/57996172/81029150-4ab81400-8e5a-11ea-87d1-5d9ea1fceb5d.png)

[2020-05-05 01:58] zhiyua-git commented on #431
You can switch different combinations of streaming protocols and players, some of them might not support h265 well.

[2020-05-05 02:06] dvsantana commented on #431
Tried them all, the only one that got close to working was:

![image](https://user-images.githubusercontent.com/57996172/81029554-cebecb80-8e5b-11ea-9125-6da5dfd58eb4.png)

[2020-05-05 03:19] zhiyua-git commented on #431
Can you specify env var KVS_DEBUG_DUMP_DATA_FILE_DIR to a directory and check the output mkv to see if it is playable in VLC player? If it plays just fine, please send a short one to Kinesis-video-support@amazon.com so we can take a close look into it to understand what is failing. Thanks.

[2020-05-05 04:02] bpawlik commented on #438
FYI

I hacked the solution in the following way:
- built Jsmn from sources
- copy libs to amazon-kinesis-video-streams-producer-sdk-cpp/open-source/local/libs
- copy headers to amazon-kinesis-video-streams-producer-sdk-cpp/open-source/headers
- `export OPEN_SOURCE_PATH=/path/to/amazon-kinesis-video-streams-producer-sdk-cpp/open-source/local/`
- build KVS with `cmake .. -DCMAKE_PREFIX_PATH=$OPEN_SO

[2020-05-05 12:55] dvsantana commented on #431
@zhiyua-git thank you so much for all your help!

I tried setting the env var `export KVS_DEBUG_DUMP_DATA_FILE_DIR=`pwd`/dump
`
But after that, I got the following warning: `[WARN ] [05-05-2020 12:53:10:484.966 GMT] putKinesisVideoFrame(): Failed to submit frame to Kinesis Video client. status: 0x00000009 decoding timestamp: 3091829 presentation timestamp: 15886831904840956`

[2020-05-05 13:17] dvsantana commented on #431
@zhiyua-git thank you so much for your help!

I was able to see the mkv on the VLC player, so I sent the output mkv to the email above.

[2020-05-05 16:10] mwildehahn commented on #433
It still isn't playing audio through the kinesis console, I just see video. Any steps to debug?

[2020-05-05 16:12] mwildehahn commented on #438
Slightly related to this: https://github.com/awslabs/amazon-kinesis-video-streams-producer-sdk-cpp/issues/430. I upgraded openssl to get it working. Is it worth doing a PR for this? Not sure what downstream side effects this has for older builds.

[2020-05-05 16:21] zhiyua-git commented on #433
Hi @mwildehahn ,

You can use env var KVS_DEBUG_DUMP_DATA_FILE_DIR to set a directory and gather the mkv generated by kinesis video producer SDK, and check if it plays audio and video in VLC player, if it plays fine, please send the file to kinesis-video-support@amazon.com so we can take a close look. Thanks.

[2020-05-05 18:53] disa6302 commented on #438
@bpawlik ,
Good to know you made it work! Feel free to open a PR with your changes @bpawlik !

[2020-05-05 19:33] mwildehahn commented on #433
Thanks, just sent an email with logs + mkv that was generated. There is no sound in the mkv file which makes me think something is wrong with the audio pipeline. I've tried making some adjustments to it but they all seem to prevent video + audio, where the current configuration at least allows for videos.

[2020-05-05 19:49] MushMal commented on #433
Thanks @mwildehahn. We are looking at the info and will let you know asap.

[2020-05-05 20:03] MushMal commented on #433
Here is a preliminary info:

* The generated MKV has a single video track - no audio as noted.
* The logs indicate that the StreamInfo is created with a single video track.
* No errors in the streaming (Good), however, initially, we get a latency pressure event and re-set the connection and the new connection handles the streaming OK with no buffer.
* Initially, the audio pad fails to load so the

[2020-05-05 20:21] chehefen commented on #433
Hi @mwildehahn, I see these two lines in your latest log
[code]
It seems that the demuxer did not detect any audio in you rtmp stream. Can you double check if you are producing audio? Thanks.

[2020-05-05 20:56] mwildehahn commented on #433
Here are the nginx logs from nginx-rtmp: https://gist.github.com/mwildehahn/cfbc6e357ae3b36370d2f8fd422cab2f. It looks like it is receiving audio from these lines:

[code]

Here are the updated KVS logs: https://gist.github.com/mwildehahn/61ffde87a858397c83be0596b9640b4d

It looks like it is able to do a delayed link for audio:
[code]

I can provide a docker setup with a couple files to reproduce

[2020-05-05 21:59] chehefen commented on #433
Can you try this patch? [patch.txt](https://github.com/awslabs/amazon-kinesis-video-streams-producer-sdk-cpp/files/4583826/patch.txt)
Also I think you should replace decodebin with aacparse after demux.audio because kvssink dont accept raw audio frames.

[2020-05-06 00:04] mwildehahn commented on #433
Updated logs after applying patch and swapping to `aacparse`: https://gist.github.com/mwildehahn/b23aea687e27173c732313a38dcb258d

It looks like something crashed, no mkv file is generated and it doesn't say anything is happening after "Stream is ready".

I haven't seen this before:

[code]

[2020-05-06 00:47] chehefen commented on #433
can you run it in debugger and see where it crashed?

[2020-05-06 00:53] mwildehahn commented on #433
Those logs I linked to are from running with `GST_DEBUG=4 DEBUG_DUMP_FRAME_INFO=1` , are there other debugger flags I can set?

[2020-05-06 00:54] mwildehahn commented on #433
Oh, run with `gbd` you mean? I’ve never done that before, let me try.

[2020-05-06 00:58] chehefen commented on #433
yh, once it crashed do `thread backtrace`

[2020-05-06 01:41] mwildehahn commented on #433
Hm. I'm not really familiar with this development flow so apologies if I'm doing something wrong here.

When I run: `gdb gst-launch-1.0 33`, I get:
[code]

which I'm guessing is actually that it can't find the core dump?

I'm running this from the same directory as where I have the command running so not sure why it can't find it.

These are the logs from invoking the pipeline where it starts to e

[2020-05-06 01:49] mwildehahn commented on #433
Not sure if this is helpful:
[code]

[2020-05-06 02:53] js1972 opened #440 "Failed to load plugin '../amazon-kinesis-video-streams-producer-sdk-cpp/build/kvscproducer/libcproducer.so'"
Occasionally when using the plugin in a gstreamer pipeline and even with gst-inspect-1.0 I get this warning:
[code]

It only happens every now and then and doesnt seem to effect the plugin - that I can tell...

[2020-05-06 03:05] MushMal commented on #440
GET_COMPILER_INFO is the macro that's mapped to an extern function pointer globalGetCompilerInfo which is defined in PIC utils/Version.c and is set to defaultGetCompilerInfo which then gets #def-ed to whichever specific compiler string is. This is used to set the version information in the user agent string.

I really don't understand what could cause this problem and would love to learn a little

[2020-05-06 03:38] js1972 opened #441 "HLS stream not consistent"
I am using the kvssink to send a camera stream to kinesis video. The camera is set to 10fps and i-frame interval of 10.

I have a mobile app build in Flutter. The video player is a simple wrapper around iOS AVPlayer.
So in the app I get the HLS Streaming URL successfully every time and pass it to the video player. About 1 in every 2 or 3 tries, the video player just shows a white screen and nothin

[2020-05-06 17:42] chehefen commented on #433
not sure why it crashed there. Can you try this pipeline? It worked for me with the patch.
[code]

[2020-05-06 18:05] MixMasterMitch commented on #441
It is possible that the parameters used to create the HLS session are to blame, not the gstreamer parameters.

Are you using SERVER_TIMESTAMP or PRODUCER_TIMESTAMP mode? You probably want PRODUCER_TIMESTAMP.

And what DiscontinuityMode are you using? You probably want ON_DISCONTINUITY.

See https://docs.aws.amazon.com/kinesisvideostreams/latest/dg/API_reader_GetHLSStreamingSessionURL.html

[2020-05-06 18:41] mwildehahn commented on #433
Hm that pipeline works for me but still getting crashes with mine 😞 . I uploaded this repo: https://github.com/mwildehahn/nginx-rtmp-kinesis with a container if you are able to try that out.

[2020-05-07 05:51] js1972 commented on #441
I have tried setting those values and there is an improvement but I still get the issue every so often. It's hard to say how often. As it will fail a couple of times, then work the next 9 or 10 times in a row.

Interestingly it seems to be the first time I look at a stream in a while. If I stop then start it again it works. Here's my settings from the `getHLSStreamingSessionURL` call:
[code]

On t

[2020-05-07 05:52] js1972 commented on #440
I'm not concerned as gst-launch-1.0 and gst-inspect-1.0 still work perfectly well with kvssink... and it is just a warning. I just wanted your feedback to ensure its not a critical thing??

[2020-05-07 06:06] MushMal commented on #440
This particular api is not critical in itself but I just don’t understand what’s going on with the symload for GStreamers gst-inspect. My recommendation would be to try to get as much info as you can. We will also keep an eye on it

[2020-05-07 08:33] kennycoder opened #444 "Missing docker examples as per documentation"
I'm trying to test RTSP docker demo application as per documentation here:
https://docs.aws.amazon.com/kinesisvideostreams/latest/dg/examples-rtsp.html
But Dockerfile and relevant folder is not available.

Thanks in advance.

[2020-05-07 09:11] disa6302 commented on #444
@kennycoder ,

We are in the process of moving dockerfile to this repo: https://github.com/aws-samples/amazon-kinesis-video-streams-demos

We are also in the process of updating the docs to reflect the same.

[2020-05-07 13:27] kennycoder commented on #444
Thank you for the info. I'll close the issue.

[2020-05-07 13:27] #444 closed

[2020-05-07 22:39] chehefen commented on #433
Sorry but I'm not very familiar with OBS to make it work.

[2020-05-07 23:08] chehefen commented on #433
on top of the patch, can you change createStreamSync to createStream here: https://github.com/awslabs/amazon-kinesis-video-streams-producer-sdk-cpp/blob/master/src/gstreamer/gstkvssink.cpp#L385

[2020-05-08 01:30] mwildehahn commented on #433
Thanks for continuing to help me debug, I really appreciate it. Here are the logs after making that patch: https://gist.github.com/mwildehahn/bc47fca8d3f672268d260f953eddca2b. I don't see the exception anymore, but it just seems to hang.

I'm going to test deploying this to a server and ingesting another RTMP stream since I'm not familiar with OBS either, but I'm not optimistic that is going to fi

[2020-05-08 18:58] chehefen commented on #433
can you try this pipeline?
[code]

[2020-05-10 05:02] zhiyua-git commented on #438
Closing as the original issue is resolved. PR of the fixes/hacks is welcome!

[2020-05-10 05:02] #438 closed

[2020-05-10 13:07] prabhatsharma opened #446 "Releases should contain binaries of sample applications to quickly get started"
Releases should contain binaries of sample applications to quickly get started.  Compiling sample just to stream a video for testing this has resulted in me spending at least 2 hours now. Source code has been changing rapidly. Docs are not able to keep up with it. Binaries of samples "kinesis_video_gstreamer_sample_app" for some platforms would go a long way in people getting started.

[2020-05-11 23:02] MixMasterMitch commented on #431
@dvsantana H.265 playback is not supported in Chrome. We put your MKV to a stream and viewed it in Safari via the Media Stream Viewer test page without issue.

However, if I take the HLS URL and paste it directly into the Safari URL bar, it does not play.

A helpful debugging tool is Apple's `mediastreamvalidator`. It revealed a couple things:

[code]
^ I am not sure why this is a problem since th

[2020-05-11 23:29] dvsantana commented on #431
@MixMasterMitch, thank you so much for your answer, it cleared things a bit here. I tried in different browsers, but for the safari I had to use the iOS safari, so that could be the reason why I couldn't get it to work.

As for the other issues I don't know how the segment and the playlist could have different duration, but I don't think that is a main issue.

Again, thank you all for taking your

[2020-05-11 23:29] #431 closed

[2020-05-13 15:11] SmitaAhinave opened #448 "No such element or plugin 'kvssink'"
System Information:
          Distributor ID:	Ubuntu
          Description:	Ubuntu 18.04.4 LTS
          Release:	18.04

I'm integrating AWS KVS refering CPP library and following exact same steps mentioned.
Build and everything else was successful.
Please find screenshot attached for more detail.

![kvsErr](https://user-images.githubusercontent.com/13129568/81830423-a9b41200-9559-11ea-9084-de0321

[2020-05-13 15:34] Sean-Der commented on #448
Hey @SmitaAhinave

The plugin may be blacklisted, can you deleted your GStreamer plugin registry, it is in ~/.cache

[2020-05-13 15:40] Sean-Der commented on #448
I also noticed you have copied the libraries into the build folder, that probably will not work. Can your set your LD_LIBRARY_PATH instead.

[2020-05-13 16:04] SmitaAhinave commented on #448
Can you please help me to understand why we need it... it's not mentioned here https://github.com/awslabs/amazon-kinesis-video-streams-producer-sdk-cpp

[2020-05-13 16:21] MushMal commented on #448
@SmitaAhinave it does look odd that GStreamer is unable to load the plugin given the path. Could you perhaps append the path to the kvssink library to the LD_LIBRARY_PATH and to GST_PLUGIN_PATH and check. The GStreamer questions are better answered in GStreamer forums in general.

We have had few customers who set the path from a command line like so: https://stackoverflow.com/questions/2120444/gs

[2020-05-13 16:51] Sean-Der commented on #448
@SmitaAhinave I can confirm the same error.

First do `export LD_LIBRARY_PATH=`pwd`/open-source/local/lib` (will update the docs)
Then do `rm -rf ~/.cache/gstreamer-1.0` (clear the cache, kvssink will be disabled since it failed to load the first time)

[2020-05-13 17:46] SmitaAhinave commented on #448
Worked after setting LD_LIBRARY_PATH

Thank you so much for the help

[2020-05-13 17:46] #448 closed

[2020-05-13 18:04] Sean-Der commented on #448
Thanks for using KVS :)

I am going to update the docs now to mention this. I am doing the final touches today.

[2020-05-13 21:12] palles77 opened #449 "Releases should contain kvssink binaries"
Releases should contain binaries for platforms such as Windows, Linux, etc. It's extremely difficult to get the build process going on Windows. It would be good to have binaries precompiled without the n eed for manual builds.

[2020-05-13 21:16] Sean-Der commented on #449
Hey @palles77

We will add binaries in the future, but Windows should be much easier now! Make sure you have GStreamer and GStreamer development install. Then in the `Visual Studio Command Prompt` you should just need to do.

[code]

[2020-05-13 21:16] Sean-Der commented on #449
https://github.com/awslabs/amazon-kinesis-video-streams-producer-sdk-cpp/pull/447 has these instructions, and will be merging today. If you get a chance to try it out would love your review!

[2020-05-14 09:19] volatile2018 opened #451 "Loading native library KinesisVideoProducerJNI failed with java.lang.UnsatisfiedLinkError: no KinesisVideoProducerJNI in java.library.path"
Hi,
I'm facing below error after following all the steps which are mentioned in the readme file,
Please provide the necessary solution for the same.

DEBUG / KinesisVideo: Unsatisfied link error. Directly loading native library .so.
DEBUG / KinesisVideo: Unsatisfied link error. Directly loading native library .dylib.
DEBUG / KinesisVideo: Unsatisfied link error. Directly loading native library .dl

[2020-05-14 10:35] palles77 commented on #449
Ok - build now works fine. So I suppose I can close the bug for now.

[2020-05-14 10:35] #449 closed

[2020-05-14 13:12] hammacktony opened #452 "Install error"
I ran the build instructions as specified in the readme. However, cmake flips out when getting to `Performing configure step for 'project_libautoconf'`.

Here is the full error.
[code]

Any help would be appreciated.

[2020-05-14 18:37] Sean-Der commented on #452
Hey @hammacktony. Sorry about that!

What OS (and version) are you running? I can reproduce and fix, not worth asking the individual versions of things. Unless you are installing stuff manually and not through the package manager.

[2020-05-14 19:33] disa6302 commented on #451
@volatile2018 ,

Can you check if the KinesisVideoProducerJNI is present in `src/resources/lib/ubuntu`?

[2020-05-14 20:52] jelling opened #454 "Can't use the word "Cam" in stream name"
This is a weird one, but if you name your stream `Webcam` or `MyCam` then Kinesis  / gstreamer will somehow shove the video into another stream (perhaps a default one) not named that. Changing the name to anything else resolves the problem.

I'm using this stock command fwiw:
[code]

[2020-05-14 20:58] Sean-Der commented on #451
@volatile2018 also it may be that `LD_LIBRARY_PATH` is not set, if you move the location of the `*.so` and it is linked to things relatively.

You can use `ldd` to diagnose that.

[2020-05-14 23:18] MushMal commented on #454
@jelling could you please elaborate what that other stream is?

Can you include debug logs?

[2020-05-15 01:27] samjosephkpl commented on #430
I got the same issue when I tried to run `./kvs_gstreamer_sample` after `make`. I had to add `<sdk_directory>/open-source/local/lib` to LD_LIBRARY_PATH to fix it.

`export LD_LIBRARY_PATH=`pwd`/open-source/local/lib:$LD_LIBRARY_PATH`

Just writing it down here, if it helps others.

[2020-05-16 09:41] usmanm259 opened #455 "Segmentation fault (core dumped)"
Hi,

I am currently facing this issue on ubuntu 16.04, when i try to stream from multiple RTSP sources using Gstreamer kinesis_video_gstreamer_sample_multistream_app.

it works fine and i can see streams from sources in AWS kinesis console, when i run this app

AWS_ACCESS_KEY_ID=------- AWS_SECRET_ACCESS_KEY=----------- ./kinesis_video_gstreamer_sample_multistream_app MyRtspStreams rtspurlsfile

b

[2020-05-16 12:09] ArifSohaib opened #456 "install-script missing after build"
I am following the Raspberry Pi documentation from https://docs.aws.amazon.com/kinesisvideostreams/latest/dg/producersdk-cpp-rpi.html but it looks like the "insteall-script" file which is supposed to be in the build folder according to the docs is missing.
Edit: I tried the master version, 3.0 version and 2.1 version

[2020-05-16 12:11] disa6302 commented on #456
Please follow the steps in the README.md. We have moved to cmake now. The docs will be updated soon. Thanks!

[2020-05-16 12:11] #456 closed

[2020-05-16 19:00] MushMal commented on #455
@usmanm259 It's not possible to tell what's going on with the short log you've attached. In this case the error 0x30000004 is a likely a consequence of bad data that was produced in earlier. Later, it seems that you hit network timeout 408.

Also, there is no information about the crash.

Recommend:

* Using a single RTSP stream for now
* Include detailed DEBUG logs
* Include core dumps for the cr

[2020-05-17 03:00] sumanghosh12 opened #457 "How to send live stream from camera only when a face is detected?"
Need some pointer on how to send live stream from a camera only when a face is detected in the stream?

With the current design I am sending the camera feed continuously to Kinesis Video Steam via Producer SDK- CPP. Only drawback with the current design is that I am invoking the Amazon Rekognition API continuously through out the day even though only around 30% of the time faces are in the live fe

[2020-05-17 03:02] sumanghosh12 commented on #457
Addition to my previous Question:
As soon as I detect a face in the video frame how do I start the producer SDK to send the stream to Kinesis?
Is there is a way to send the frames with faces to Kineis Video Stream directly?

[2020-05-17 10:42] usmanm259 commented on #455
@MushMal Thanks for the reply.

1. Using a single RTSP stream:

I have tried the Gstreamer app for single RTSP stream but same response.

2. Include detailed DEBUG logs

Attaching detailed DEBUG logs
[logs.txt](https://github.com/awslabs/amazon-kinesis-video-streams-producer-sdk-cpp/files/4640074/logs.txt)

[2020-05-17 10:48] usmanm259 commented on #455
@MushMal Thanks for the reply.

1. Using a single RTSP stream:

I have tried the Gstreamer app for single RTSP stream but same response.

2. Include detailed DEBUG logs

Attaching detailed DEBUG logs

[logs.txt](https://github.com/awslabs/amazon-kinesis-video-streams-producer-sdk-cpp/files/4640087/logs.txt)

[2020-05-17 11:02] MushMal commented on #455
Your logs indicate that at times you have n observed bandwidth of 25Mbps but it’s not actually sufficient for the density of your stream. You get into a pogo-stick effect with the default latency handlers trying to reset the connection and eventually starting to drop frames.

Try configuring the rtsp source to have lower bitrate.

[2020-05-17 21:16] MushMal commented on #457
@sumanghosh12 the Producer SDK can send any types of frames. True, for certain types of streams, the SDK can perform further actions like extracting pixel width and height from the CPD and setting the appropriate MKV elements in case the underlying stream is video/h264 for example (with the appropriate flags) or extract audio properties for AAC for example. Other than that, the SDK treats the fram

[2020-05-18 04:39] usmanm259 commented on #455
@MushMal Thanks, i will test with lower bitrate and let you know.

[2020-05-18 15:28] wrigsa opened #458 "Media preview screen is black for Kinesis stream, Vivotek FD9187-H camera"
I'm trying to set up my FD9187-H camera to stream to a Kinesis Video Stream. I've verified that I'm streaming to the correct region and trying to view the stream in the same region. I've also verified that the timecodes are correct. I'm using these settings on stream 2 on the camera:

- H.264
- Frame size - 640x480
- Maximum frame rate - 15 fps
- Intra frame period - 1s
- Smart Stream III
- Smart

[2020-05-18 15:34] MushMal commented on #458
Is there any way you could retrieve the producer side logs to understand what's going on?

You could check the CW logs as described here:
https://docs.aws.amazon.com/kinesisvideostreams/latest/dg/monitoring-cloudwatch.html

PutMedia.IncomingFragments should be increasing as you stream.

[2020-05-18 15:48] jelling commented on #454
It didn’t seem to matter what the other stream was. It just would never put the incoming video in the right stream. Not certain what debug logs would show this.
On May 14, 2020, 7:18 PM -0400, Mushegh Malkhasyan <notifications@github.com>, wrote:

[2020-05-18 15:51] MushMal commented on #454
@jelling I am not sure I understand what you are describing. Unless we have logs we can't help in this situation, especially, since we can't reproduce this claim.

[2020-05-18 18:33] wrigsa commented on #458
18 14:15:24.499|ERROR| 5732|ProducerCallback.cpp:46|STATUS_SERVICE_CALL_NOT_AUTHORIZED_ERROR
18 14:15:54.211|ERROR| 5708|DefaultCallbackProvider.cpp:318|createKinesisVideoStreamSync(): Failed to create Kinesis Video Stream - timed out.
18 14:15:54.715|ERROR| 5708|KinesisVideoProducer.cpp:147| Unable to create Kinesis Video stream. 439fdab7-be0f-effe-6d6b-5bbc296ff8cd Error status: 0xf
18 14:15:54.

[2020-05-18 18:52] MushMal commented on #458
@wrigsa what do you mean when you say "the stream IS created"? Have you created it in the console or through CLI?

The create state is reached when the describe state returns no streams. Can you verify that you are using the correct region? Also, please include complete logs.

[2020-05-18 19:29] hammacktony commented on #452
I am installing it manually. I am using Ubuntu 18.04. I am just building from master.

[2020-05-18 19:53] wrigsa commented on #458
The stream creation is handled by a teleport plugin and a cloudformation stack. When I provision the camera with the correct credentials, the stream is created.

I am using us-east-1 for all of my resources, and viewing from the same location.

Complete logs below

 18 13:57:27.384|ERROR| 3094|KinesisUploader.cpp:172|EStreamCodec::H264
18 13:57:28.485|ERROR| 3110|KinesisUploader.cpp:172|EStreamCod

[2020-05-18 20:33] MushMal commented on #458
OK, understood. It seems that you indeed have an auth issue.

* Please describe how you integrate with auth - are you using access key/secret key or using IoT certificate provider integration or anything else?
* Make sure that the account you are using is configured to have the right level of access.

For example: https://docs.aws.amazon.com/kinesisvideostreams/latest/dg/how-iot.html

[2020-05-18 21:10] farleylai opened #459 "putMedia failed after long term upload"
We have a video stream uploading to KVS without issues over the weekend but this afternoon,
the KVS upload seems down between 13:51 to 14:30 EDT.

<img width="412" alt="Screen Shot 2020-05-18 at 4 24 16 PM" src="https://user-images.githubusercontent.com/158540/82256297-1184a700-9924-11ea-92b6-4077266d25fa.png">

From the log messages in reverse order, the SDK seemed to retry with repeated requests

[2020-05-18 21:11] chehefen commented on #441
@js1972, can you export this env variable KVS_DEBUG_DUMP_DATA_FILE_DIR=$PWD, and then run this pipeline?
[code]
it will dump a mkv file in $PWD, you can send that file to us at kinesis-video-support@amazon.com. Thanks.

[2020-05-18 22:28] Sean-Der commented on #452
In the configure logs we get

`checking for GNU M4 that supports accurate traces... configure: error: no acceptable m4 could be found in $PATH`

Looking into this now!

[2020-05-18 22:29] Sean-Der commented on #452
@hammacktony after doing a `apt-get install m4` it works! I will update the docs.

[2020-05-18 22:53] MushMal commented on #459
This is really odd @farleylai

From the logs it seems that your PutMedia session has timed out and the state machine re-tries but somehow call to curl_easy_pause returns CURLE_BAD_FUNCTION_ARGUMENT.

Generally, this means that the function is called with a bad parameter but I really can't understand how we end up with Curl getting into a state when it returns this value,

Is it possible if you cou

[2020-05-19 00:36] #452 closed

[2020-05-19 01:36] farleylai commented on #459
Sure, the log of the last 8 hours is attached FYI.

[kvs.log.zip](https://github.com/awslabs/amazon-kinesis-video-streams-producer-sdk-cpp/files/4647752/kvs.log.zip)

I believe your SDK log timestamps are in UTC and our messages are in EDT.
Whenever `putKinesisVideoFrame(...)` is about to call, a log message in the format of `Sending frame[XXXXXXX]` is print.

After a closer look, the HTTP Error a

[2020-05-19 05:28] MushMal commented on #459
Here is what I see from the logs:

* Really good streaming which stabilizes around 500Kbps. There is little variation in the "current" buffer and most of the time there is almost zero buffer so your stream keeps up very well.
* The persisted ACKs come at a regular cadence and your workset is ~1.5 seconds with 1 second fragment duration it makes it less than 500ms behind which is very cool.
* The f

[2020-05-19 09:32] usmanm259 commented on #455
Hi,

So i tested with lower constant bitrate (CBR) (640 kbps) with Stream control configured on camera's sub stream, i successfully ingested stream to kinesis video streams for longer duration (9 hours).

After 9 hours there was some network issue which caused the application to drop stream, so once the network issue was gone and camera was  accessible with ping but the issue was that Gstreamer ap

[2020-05-19 13:34] MushMal commented on #455
The SDK default configuration is to retry. It seems that’s why it was trying to do. Could you please include the debug logs when it we “stuck”? If you are using KVS plugin with GStreamer rtsp plugin then there could be a number of things that might be wrong including the network link to the rtsp source

[2020-05-19 14:48] wrigsa commented on #458
I'm using the onica quick start cloudformation template to automatically create the following

- An AWS IoT policy to associate with connected cameras.
-     An AWS Identity and Access Management (IAM) role for connected cameras to stream to Kinesis Video Streams.
-     An Amazon DynamoDB table to store provisioning keys. Once provisioning is complete, you should remove the keys.
-     AWS Lambda

[2020-05-19 18:37] MushMal commented on #458
It seems that you are missing some permissions as it results in not authorized error.

We are in the middle of updating the readme for the cpp but you can look at webrtc readme here: https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c#setup-iot

There is more info here: https://docs.aws.amazon.com/kinesisvideostreams/latest/dg/how-iot.html

[2020-05-19 18:47] MushMal commented on #458
One more thing.. I see the following in the log:

`18 13:58:43.332|ERROR| 3371|CredentialHandler.cpp:151|curl_easy_perform fail(): 3`

What is CredentialHandler.cpp? This is the first time the error is surfaced.

[2020-05-19 23:30] farleylai commented on #459
Thanks for the comprehensive analysis and recommendations.
Given the network was not down then, I think you are suggesting for some reason, the incoming device stream was sometimes being slow such that our program may not upload timely or sufficiently, and your SDK starts to log timeout events. Since `putKinesisVideoFrame(...)` is non-blocking, it should be straightforward to verify what is going

[2020-05-19 23:38] MushMal commented on #459
We just released v3.0.0 that has the improvements including bug fixes and support for the intermittent producer scenario which is the likely case you are hitting.

I am not sure I understood your question about reading the device stream?

Yes, in essence, in the REAL_TIME mode the put frame is a 'prompt' operation - it doesn't block and can/might cause frame to be dropped at the tail if there is n

[2020-05-20 03:45] MushMal commented on #440
I am resolving this for now. Please reopen if you get more info

[2020-05-20 03:45] #440 closed

[2020-05-20 03:46] MushMal commented on #451
@volatile2018 did you get a chance to try the recommendations? I wouldn't want this to go stale and unanswered. Please update or resolve

[2020-05-20 03:48] MushMal commented on #400
Apologies for delay, We have released V3.0.0 recently which is based on CMake and platform specific package configs. Could you please try the latest?

[2020-05-20 03:49] MushMal commented on #446
@prabhatsharma we are thinking of adding binaries for some platforms.

[2020-05-20 03:50] MushMal commented on #441
@js1972 do you have any update on this?

[2020-05-20 04:04] js1972 commented on #441
Sorry have not got back to this yet. Will do now...

So what happens with the improved parameters above is that generally - the first time I try to watch a stream from the hls client on iOS it fails and I just see a blank screen with no error messages. So I can out and go in to watch again and it will work - over and over. So at most if fails one time for each camera stream I may look at.

[2020-05-20 04:16] js1972 commented on #441
Have sent the recorded file to: kinesis-video-support@amazon.com

[2020-05-20 17:27] MushMal commented on #441
@js1972 thanks for the clip. Looking at the clip I don't see anything that could cause the issue. The frames look normal. The first cluster has a single frame with size 119 - not yet sure whether this could cause the problem.

[2020-05-20 17:29] MushMal commented on #441
One more thing...

2020-05-20 12:12:00 [547381821936] ERROR - getKinesisVideoStreamData(): operation returned status code: 0x5200002f

this is not an error, it's getting printed as an error (which is fixed in PIC since) but it's one of the control statuses that's being passed from the lower layer to indicate no more data available to the networking layer. You can ignore that.

[2020-05-20 17:52] BurguerJohn opened #461 "Building failing on windows [project_libopenssl]"
I am following the readme tutorial.
After executing the command `cmake .. -G "NMake Makefiles"`
It goes well until `Performing update step for 'project_libopenssl'`
My first error was that it was unable to find the command `Pearl`
So i installed the [padre-perl-ide](https://code.google.com/archive/p/padre-perl-ide/downloads) and it got me a little far in the instalation, but now it giving me this

[2020-05-20 18:27] Sean-Der commented on #461
Hey @BurguerJohn

Sorry about that! Can you try running `cmake ..` again, I haven't been able to track it down but sometimes we have a race and OpenSSL fails to build on Windows.

For the 'source of truth' this is our [travis.yml](https://github.com/awslabs/amazon-kinesis-video-streams-producer-sdk-cpp/blob/master/.travis.yml#L110-L114) and [build_windows.bat](https://github.com/awslabs/amazon-kin

[2020-05-20 18:43] BurguerJohn commented on #461
Thanks Sean, I used the `cmake ..` before installing Pear, so it had stopped at the previous error. Just gave another try and the installation went further than the `cmake .. -G "NMake Makefiles"` command, but still gave me a error before the end: (Sorry, my system is in portuguese)

[code]

My CMakeOutput.log:
[code]

[2020-05-20 18:49] MixMasterMitch commented on #441
@js1972 I have looked at the provided MKV file with `mkvinfo` and I see the following at the start of the file:
[code]

The first cluster is starting with a single non-keyframe. Most video players will fail if they receive a cluster like this. Perhaps this is just a result of the KVS_DEBUG_DUMP_DATA_FILE_DIR flag, but I don't think so. You need to make sure you start pulling from the rtsp source s

[2020-05-20 18:56] Sean-Der commented on #461
@BurguerJohn Can you install NASM and then add it to your path? The follow command might be a little wrong, not at a Windows machine to try. But this is kind of what we do in travis.

[code]

[2020-05-20 19:28] BurguerJohn commented on #461
Alright, installed nasm and giving it a try, since it take a while to run I want to report that using the [build_window.bat](https://github.com/awslabs/amazon-kinesis-video-streams-producer-sdk-cpp/blob/master/.github/build_windows.bat) got me really far in the build, I was positive it would work, but still gave me a error:

[code]

I can see in the Readme that pkg-config is a requirement, but i'm

[2020-05-20 19:32] Sean-Der commented on #461
@BurguerJohn I think we get `pkg-config` from `choco install strawberryperl`

It is a hard requirement for GStreamer plugin, but we could put that behind a 'are you building GStreamer' check maybe!

[2020-05-20 19:54] farleylai commented on #459
Good to hear that. We will migrate to v3.0.0 soon.

Besides, let me elaborate our conclusion a bit. Our program serves as a forwarder/aggregator that receives the device stream over RTSP to upload to KVS. Given the timeout behavior of your SDK, the remaining mystery to verify is whether reading the device stream suddenly becomes very slow. We have set the read timeout of `ffmpeg` to read the devic

[2020-05-20 20:01] MushMal commented on #459
Sounds good. @farleylai could you please resolve the issue when you have a chance? Please open a new issue specific to any issues you might see after the upgrade.

[2020-05-20 20:17] #459 closed

[2020-05-20 20:18] farleylai commented on #459
Sure thing!

[2020-05-20 20:40] BurguerJohn commented on #461
Ok, i installed `nasm / strawberryperl /  gstreamer `
Following by `gstreamer-devel --version=1.16.2`
Just like the file you linked. The build worked for about half-hour, but still ended in error:

[code]

CMakeError.log:
[code]

I don't want to be rude and I really appreciate the help, it may be my fault since I just started getting into the streaming services, but i never hit so much walls on ot

[2020-05-20 20:57] Sean-Der commented on #461
@BurguerJohn totally understand why you are frustrated, it is annoying when stuff just doesn't work!

In the future I want to distribute binary builds so you don't have to build stuff, but for now all I can do is help fix the build.

It looks like GStreamer failed to be discovered via `package-config` I am not exactly sure why though. If you run `C:\gstreamer\1.0\x86_64\bin\pkg-config.exe --libs g

[2020-05-20 22:58] js1972 commented on #441
Would love to know how to start it on a key frame. Will start researching.
The interesting thing is that the hls client works perfectly a lot of the time.

[2020-05-20 22:59] js1972 commented on #441
What is it in mkvinfo that tells you the file does not start with a key frame?

[2020-05-20 23:29] chehefen commented on #441
you can do it by setting this to TRUE: https://github.com/awslabs/amazon-kinesis-video-streams-pic/blob/8f0db7900d6e847ae8072ae5e8205ef81551c685/src/client/src/Stream.c#L127

the package is in the submodule.

[2020-05-21 02:26] js1972 commented on #441
Setting this to true: `pKinesisVideoStream->skipNonKeyFrames = FALSE;` Looks like it will skip ALL non-key frames?? Thats not what we want is it? We just want to start the stream with a key frame.

[2020-05-21 02:38] MushMal commented on #441
@js1972 it will skip the non-key frames on startup. This is an internal state variable that's actually used for other purposes. We just want to see whether this is the root cause of the issue you are seeing.

[2020-05-21 02:47] js1972 commented on #441
oh ok. So if I change that I need to build the sources again I assume. I have tried setting the kvssink parameter `key-frame-fragmentation` true but when I do this I cannot stream from hls at all. Let me change the source and I'll come back.

[2020-05-21 11:52] BurguerJohn commented on #461
Sorry for the delay @Sean-Der my shift had ended.
You was right about my error. The problem was that I had installed gstreamer in my E:/
So I moved it to my C:/ and the build worked! Thanks.

After that it was missing a few DLL once i tried any of the .exe files, so I had to add a gstream and the open-source folder to my path and now the .exe open (and instantly close) without any error.
Are the .

[2020-05-21 12:15] BurguerJohn commented on #461
Following the readme and [this link](https://docs.aws.amazon.com/kinesisvideostreams/latest/dg/examples-gstreamer-plugin.html)
I did try to add a few folders to my path and call.
`gst-inspect-1.0 kvssink` and this command `gst-launch-1.0 rtspsrc location="rtsp://YourCameraRtspUrl" short-header=TRUE ! rtph264depay ! video/x-h264, format=avc,alignment=au ! kvssink stream-name="YourStreamName" storag

[2020-05-21 15:09] aeperaltan commented on #461
Hello, we have similar issues for both Windows and Mac. We are using a .NET environment and followed the procedure:

git clone --recursive https://github.com/awslabs/amazon-kinesis-video-streams-producer-sdk-cpp.git
mkdir -p amazon-kinesis-video-streams-producer-sdk-cpp/build
cd amazon-kinesis-video-streams-producer-sdk-cpp/build
cmake .. -G "NMake Makefiles"

As for windows, we get errors related

[2020-05-21 16:10] lpawlaczyk commented on #461
You should use .github/build_windows.bat
In my case I changed the first line to:
call "C:\Program Files (x86)\Microsoft Visual Studio\2019\Enterprise\VC\Auxiliary\Build\vcvars64.bat"
Another thing is to make sure you have downloaded and populated directories in:
open-source/amazon-kinesis-video-streams-pic and open-source/amazon-kinesis-video-streams-producer-c. This should easily build what you n

[2020-05-23 07:56] timetxt opened #462 "Build Failed in Ubuntu 18.04"
$ uname -a
Linux  5.3.0-46-generic #38~18.04.1-Ubuntu SMP Tue Mar 31 04:17:56 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux

`CMake Error at CMakeLists.txt:95 (add_subdirectory):
  The source directory

    /home/jason/kvs4/amazon-kinesis-video-streams-producer-sdk-cpp/open-source/amazon-kinesis-video-streams-producer-c

  does not contain a CMakeLists.txt file.

CMake Error at CMakeLists.txt:106 (find_

[2020-05-23 07:57] timetxt commented on #400
Sure Will try this after getting Ubuntu build pass

[2020-05-23 07:59] MushMal commented on #462
have you cloned the dependent repository as in readme?

`git clone --recursive https://github.com/awslabs/amazon-kinesis-video-streams-producer-sdk-cpp.git`

Seems that the directory is empty

[2020-05-25 05:21] joyuiyeong opened #463 "Device '/dev/video0' is busy"
Hello, guys.

I have problem when running 'kvs_gstreamer_sample'.
when I excute ``` ./kvs_gstreamer_sample SomeStreamName```, it stop after few seconds with following errors

[code]

Error message says, `/dev/video0' is busy. but I don't know how to handle this.

Please help me. Thank you.

[2020-05-25 05:30] disa6302 commented on #463
@joyuiyeong ,

Can you check if have another such process running which might be using the device? The device can only be accessed exclusively by only one process at a time.

[2020-05-25 05:47] joyuiyeong commented on #463
@disa6302
A script is running with kvs_gstreamer_sample.

Script getting sensor data like humidify, atmosphere with extention board(I use this as importing DFRobot_RaspberryPi_Extension_Board) is running on my RPi.

And also I send that data to AWS IoT core with AWSIoTPythonSDK.

Does that python script cause this? I don't think it access the device..

But, when I didn't run that script, ```./kvs_

[2020-05-25 18:40] amilaDulanjana commented on #461
I am also having this issue. I used [build_windows.bat](https://github.com/awslabs/amazon-kinesis-video-streams-producer-sdk-cpp/blob/master/.github/build_windows.bat), but i changed the call to "C:\Program Files (x86)\Microsoft Visual Studio\2019\Enterprise\VC\Auxiliary\Build\vcvars64.bat".

The issue is related to ` libopenssl`

error :
` C:/Program Files (x86)/Microsoft Visual Studio/2019/Enter

[2020-05-25 21:13] MushMal commented on #463
@joyuiyeong per your debug/troubleshooting I think the other script (not sure what it is) might be accessing the camera and thus the GStreamer is unable to get a lock.

I suggest opening an issue with whoever owns the script.

I am going to resolve this as it's not related to KVS

[2020-05-25 21:13] #463 closed

[2020-05-25 21:29] MushMal commented on #461
@amilaDulanjana for some odd reason building open ssl on Windows at times errs out like you've described. However, running the build command again seems to work. Could you please retry building and let us know whether it solves? Don't clean up or anything.

[2020-05-26 01:51] nfvelado commented on #461
Hi, on my Windows 7 PC using Visual Studio 2019, I've followed the steps above in combination with the build_windows.bat (that I modified to point to my VS19 bat)...

git clone --recursive https://github.com/awslabs/amazon-kinesis-video-streams-producer-sdk-cpp.git
mkdir -p amazon-kinesis-video-streams-producer-sdk-cpp/build
build_windows.bat

Initially, I was having the same openSSL build issues

[2020-05-26 04:06] Sean-Der commented on #461
@nfvelado You will also need to run the `GStreamer development installer` to get the headers and pkg-config files required to build the GStreamer extension.

[2020-05-26 04:09] Sean-Der commented on #461
@aeperaltan For your Mac build it seems to be using a broken CXX compiler, not sure why though! Can you try doing

[code]

and try again with a brand new build directory?

[2020-05-26 05:39] MushMal commented on #457
Resolving as stale. Please re-open or cut a new issue if you need further assistance

[2020-05-26 05:39] #457 closed

[2020-05-26 05:40] MushMal commented on #458
Resolving as stale due to no answer. Please follow-through with the suggestions. Please reach out to the manufacturer of the device for further help.

[2020-05-26 05:40] #458 closed

[2020-05-26 05:42] MushMal commented on #455
Resolving due to no further correspondence. Please re-open or cut a new issue if you need further assistance.

[2020-05-26 05:42] #455 closed

[2020-05-26 05:44] MushMal commented on #451
Closing. Please re-open if you need further assistance

[2020-05-26 05:44] #451 closed

[2020-05-26 05:45] MushMal commented on #454
Closing. Please re-open if you have further information

[2020-05-26 05:45] #454 closed

[2020-05-26 13:46] nfvelado commented on #461
@Sean-Der appreciate the clarification there.  I've installed the msvc development installer, and am getting a different gstreamer related error now:

-- Checking for module 'gstreamer-app-1.0'
--
CMake Error at C:/Program Files/CMake/share/cmake-3.15/Modules/FindPkgConfig.cmake:458 (message):
  A required package was not found
Call Stack (most recent call first):
  C:/Program Files/CMake/share/cm

[2020-05-26 15:17] huyhoangk50 opened #464 "Tag signal link channel"
How can I add a new tag the signaling channel with c++ code like I added the "kvs" tag manually in the
[image](https://drive.google.com/file/d/10J1wPL6oMPG2j2z_-5Y4xieRnVf4sB6O/view?usp=sharing). So that I can monitor this tag. Thank you

[2020-05-26 16:58] MushMal commented on #464
https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c/blob/master/src/include/com/amazonaws/kinesis/video/webrtcclient/Include.h#L1112

[2020-05-26 16:58] MushMal commented on #464
Resolving. Please re-open/cut a new one if you need further info

[2020-05-26 16:58] #464 closed

[2020-05-26 18:26] ajhool opened #465 "What is the name of the gstreamer audio track?"
When trying to forward the audio track to Transcribe, we are unable to find the correct name. It also does not seem to be a parameter for kvssink. We are using this command to execute gstreamer:

[code]
Ubuntu laptop
us-east-1
Audio + Video is working in the KVS console

[2020-05-26 18:31] amilaDulanjana commented on #461
@MushMal thanks it works. But now i didn't able to stream through my web cam

The command i used
`gst-launch-1.0 ksvideosrc do-timestamp=TRUE ! video/x-raw,width=640,height=480,framerate=30/1 ! videoconvert ! x264enc bframes=0 key-int-max=45 bitrate=512 ! video/x-h264,profile=baseline,stream-format=avc,alignment=au ! kvssink stream-name="video_stream" access-key="XXXXXXX" secret-key="XXXXXXXXXXX"`

[2020-05-26 18:59] lherman-cs commented on #465
@ajhool Do you mind to clarify what you mean by "we are unable to find the correct name. It also does not seem to be a parameter for kvssink"?

Also, what was the output from the command?

[2020-05-26 19:25] ajhool commented on #465
@lherman-cs

We are trying to send a KVS stream to AWS Transcribe. The closest ref arch that we could find was: https://github.com/amazon-connect/amazon-connect-realtime-transcription

That ref arch uses AWS connect with names the audio track ("FROM_CUSTOMER") ("TO_CUSTOMER"). However, we would like to use the gstreamer producer library to produce the video. Then, we are using a lambda function wi

[2020-05-26 19:32] MushMal commented on #461
Folks, it seems that this thread is quite long and for some odd reason I don't see some of the replies any longer - perhaps GitHub has a limit on the length of the issue.

Just some comments (as I see in my email inbox but not here).

@amilaDulanjana the small snippet of log shows no problems at all with streaming. We had a printing bug/issue which is since fixed in PIC but not propagated to the C

[2020-05-26 19:34] amilaDulanjana commented on #461
@MushMal  thank you very much for your supoort. Finally it works.

[2020-05-26 19:38] lherman-cs commented on #465
Did you get the video from our kvssink gstreamer plugin? If yes, the audio track name is going to be called "audio", https://github.com/awslabs/amazon-kinesis-video-streams-producer-sdk-cpp/blob/master/src/gstreamer/gstkvssink.cpp#L380.

But, if you used the producer sdk directly, you can configure the audio track's name programmatically, as shown in the example, https://github.com/awslabs/amazon-

[2020-05-26 19:45] ajhool commented on #465
@lherman-cs Great, "audio" is the track name, thank you! Is there a place to find some of the information about the stream produced by the gstreamer plugin? For example, I had trouble finding the track name and am now having trouble finding the audio sample rate? The video seems to be making its way into transcribe but no transcription events are occurring

[2020-05-26 19:50] lherman-cs commented on #465
Yes, I would say the gstreamer folder is the best source, https://github.com/awslabs/amazon-kinesis-video-streams-producer-sdk-cpp/tree/master/src/gstreamer, especially the [gstkvssink.cpp](https://github.com/awslabs/amazon-kinesis-video-streams-producer-sdk-cpp/blob/master/src/gstreamer/gstkvssink.cpp) file. That's how we define the plugin to gstreamer.

For the audio sample rate, it's defined he

[2020-05-26 19:56] MushMal commented on #465
To add to what @lherman-cs states. There is a set of audio specific EBML elements in MKV specification that the producer SDK specifies if the track is Audio and is of a known type and has CPD (codec private data). This is done automatically for you by the kvs sink and packaged in PIC. If this is what you are after then check this out:

Here is where it extracts:
https://github.com/awslabs/amazon-k

[2020-05-26 22:31] nfvelado commented on #461
@MushMal regarding the questions and issues I'm still having related to GStreamer, the assumptions the build is making is not clear to me at all.  I see comments above stating gstreamer should be in the c:\gstreamer directory, from downloading it separately from the gstreamer website.  I was under the impression this should get pulled down automatically during the build process, so I'm guessing th

[2020-05-27 00:30] ajhool commented on #465
@MushMal @lherman-cs Thanks for the responses and references. Part of my confusion was that I don't think h264 encoding has a defined sample rate in code. When I review the video after KVS ingestion, I see the sample rate is at 44100Hz.

I am still having difficulty determining information about the audio stream and am unable to feed it into AWS Transcribe. Transcribe does not throw an error, but

[2020-05-27 14:40] FlorianRuen opened #466 "Backwards on stream sending using Docker image"
Hi KVS Team,

I recently open a ticket on AWS Premium Support and your colleague said that I can get more help using your Github repository.

I'm using the Docker image for Raspberry PI to send video stream to a KVS endpoint with a particular configuration: my RTSP/network camera and internet access arren't on the same network.

I'm explaining.

My camera is connected to my RPI using one RJ45 port

[2020-05-27 15:29] lherman-cs commented on #465
@ajhool Do you mind to create a new issue regarding unpacking audio stream and close this? I think there's no more issue about the audio track's name. But, I'd like to preserve this issue in case somebody else also stumbled into the same problem.

[2020-05-27 16:01] lherman-cs commented on #465
@ajhool Yes, we have a parser library, https://github.com/aws/amazon-kinesis-video-streams-parser-library, it allows you to parse mkv format, which will give you information about the audio sample rate.

[2020-05-27 20:21] lherman-cs commented on #466
@FlorianRuen Hi, I'm sorry for the issue. This is definitely a very strange issue. Do you mind to share your logs after running the pipeline (without GST_DEBUG being set)? Could you also make sure that the encoded video is in the right format? (Probably try adding `video/x-h264, format=avc,alignment=au` in between `rtph264depay` and `h264parse`)

To eliminate some variables, could you also try to

[2020-05-27 22:38] MushMal commented on #466
To add to @lherman-cs I would also ask you to give more details about your application and what you asset you are basing your application on. The video you showed doesn't have the clock backward - you simply have out-of-order frames or an extra I-frame at times. Having as much information as possible including GST debug logs (assuming it's gstreamer resources your application is using) will help

[2020-05-28 04:01] ajhool commented on #465
@lherman-cs, agreed this audio track issue is closed. I would, however, recommend adding the track name to documentation somewhere (if it is not already there or if this is a standard).

[2020-05-28 04:01] #465 closed

[2020-05-28 08:52] FlorianRuen commented on #466
Hello @MushMal @lherman-cs

Thanks for your answers

Your colleague on my ticket give me some answers to get the logs, but I can't found them. I'm using the Docker Image you provide.

Can you give me more details on how I can get the log file ? (For your informations, I'm on RPI using Python to run the Docker image with GST pipeline in parameters)

Thanks again for your help and keep safe;

[2020-05-28 16:53] ravidetroit opened #467 "Cannot view the streamed MP4 file in the console."
I have built the c++ kinesis video producer. And i can stream a mp4 file. However i cannot playback the media in the console. I get a no media found error.

[2020-05-28 17:07] MushMal commented on #467
Please include more information on what the experience is? Are you seeing black screen? Are you using the same region? Can you include debug producer logs

[2020-05-28 17:09] ravidetroit commented on #467
[kvs.log.zip](https://github.com/awslabs/amazon-kinesis-video-streams-producer-sdk-cpp/files/4697203/kvs.log.zip)

I get a no media found error.

[2020-05-28 17:37] MushMal commented on #467
@ravidetroit looks like the file is uploaded just fine. If the file is "short" it will finish before you get the playback. Try to stream, go to the console. Make sure you select the same region. Select server-side timestamp. Select from some time past before the time you started streaming for the playback to pick up the fragments that langed.

[2020-05-28 18:42] MushMal commented on #466
@FlorianRuen the logs are the producer SDK side logs.

Are you able to run the samples out-of-the-box?

[2020-05-28 18:51] aeperaltan commented on #461
Please confirm if there will be another thread on this topic. Thanks

[2020-05-28 19:03] ravidetroit commented on #467
[output.zip](https://github.com/awslabs/amazon-kinesis-video-streams-producer-sdk-cpp/files/4697653/output.zip)

@MushMal, attached the output of get-inspect-1.0 kvssink. When i execute
./build/kvs_gstreamer_file_uploader_sample /home/ubuntu/environment/samplevideos/60.mp4

 Failed to construct pipeline: no element "qtdemux"
[ERROR] kvs_gstreamer_file_uploader_sample: Failed to initialize gstreame

[2020-05-28 19:19] MushMal commented on #467
Seems that it's unable to find the plugins. Could you execute

[code]

from the root directory to set the correct paths?

[2020-05-28 19:21] ravidetroit commented on #467
echo $GST_PLUGIN_PATH
/home/ubuntu/environment/amazon-kinesis-video-streams-producer-sdk-cpp/build, the path variables are set
echo $LD_LIBRARY_PATH
/home/ubuntu/environment/amazon-kinesis-video-streams-producer-sdk-cpp/open-source/local/lib

[2020-05-28 19:28] MushMal commented on #467
Looks correct. Seems that the demux plugin is missing for some reason.

[2020-05-28 19:29] ravidetroit commented on #467
Is that a shared library, i can include that explicitly

[2020-05-28 19:37] Sean-Der commented on #467
Hey @ravidetroit

You also need to install the GStreamer 'good plugins'. If you are using homebrew it would be `brew install gst-plugins-good` and for Debian/Ubuntu it would be `apt-get install gstreamer1.0-plugins-good`

[2020-05-28 19:40] ravidetroit commented on #467
I now get the following error. Building gstreamer pipeline
[ERROR] kvs_gstreamer_file_uploader_sample: Failed to construct pipeline: no element "h264parse"

[2020-05-28 19:52] MushMal commented on #467
This is in bad plugins https://gstreamer.freedesktop.org/documentation/videoparsersbad/h264parse.html?gi-language=c

Try to install that one too

`apt-get install gstreamer1.0-plugins-bad`

I am guessing that you already have the base plugins installed but give this a try. I think for file uploader this should be it - you wouldn't require plugins-ugly

[2020-05-28 19:52] ravidetroit commented on #467
I installed gst-plugins-bad and the errors are now different

log4cplus:ERROR could not open file ./kvs_log_configuration
ERROR - Unable to create Rotating Credential provider. Error status: 0x9
[ERROR] kvs_gstreamer_file_uploader_sample: Unable to set the pipeline to the playing state.

[2020-05-28 20:24] nfvelado commented on #461
Guys, just a quick update on this also...  -DBUILD_GSTREAMER_PLUGIN=TRUE does seem to be necessary in order to build the kvssink part of the application, from the readme documentation.

It appears that choco is needed in order to install gstreamer via the packages method, however, this still requires some additional step that I haven't been able to solve.  I'm guessing the build doesn't automatica

[2020-05-28 21:16] MushMal commented on #467
First issue is due to log4cpus config file not being there or the path not being there. Perhaps, copy  the config file from the samples to build directory

The second is complaining about the auth integration. Make sure you set the auth as described in https://github.com/awslabs/amazon-kinesis-video-streams-producer-sdk-cpp/blob/master/docs/linux.md

[2020-05-28 21:21] lherman-cs commented on #465
Got it. I'll take a note on this. Thanks!

[2020-05-29 07:24] timetxt commented on #462
I think the option --recursive was the cause. Compile successfully now

[2020-05-29 07:24] #462 closed

[2020-05-29 07:53] FlorianRuen commented on #466
@MushMal Maybe but not with the same configuration, because It seems the SDK can't run on RPI without Docker

[2020-05-29 08:44] MushMal commented on #466
SDK can run directly on the RPi.

[2020-05-29 08:47] FlorianRuen commented on #466
@MushMal So If I understand, I need to run the gst launch ... (full pipeline) without docker to get some logs ? I will try it

[2020-05-29 14:21] FlorianRuen commented on #466
@MushMal Today I try to run the SDK directly on RPI, but there is an error during the Cmake process which is:

`CMake Error at CMakeLists.txt:106 (find_package):
  Could not find a package configuration file provided by "CURL" with any of
  the following names:

    CURLConfig.cmake
    curl-config.cmake

  Add the installation prefix of "CURL" to CMAKE_PREFIX_PATH or set
  "CURL_DIR" to a directo

[2020-05-29 15:41] aeperaltan opened #469 "Gstreamer failing for Windows producer"
Hello,

We have followed the following steps to build the library:
call "C:\Program Files (x86)\Microsoft Visual Studio\2017\Community\VC\Auxiliary\Build\vcvars64.bat"
mkdir build64
cd build64
set PKG_CONFIG_PATH=C:\gstreamer\1.0\x86_64\lib\pkgconfig
cmd.exe /c cmake -G "NMake Makefiles" ..
cmake -G "NMake Makefiles" -DBUILD_TEST=TRUE -DBUILD_GSTREAMER_PLUGIN=TRUE ..
nmake

Please notice that in o

[2020-05-29 17:33] MushMal commented on #469
@aeperaltan I am not sure why your GStreamer errors out.

(kvs_gstreamer_audio_video_sample.exe:12472): GLib-GObject-CRITICAL **: 15:37:02.800: g_object_set: assertion 'G_IS_OBJECT (object)' failed

You will need to get some debug logs from GStreamer by setting GST_DEBUG=4 environment variable.

[2020-05-29 17:39] MushMal commented on #466
Hi @FlorianRuen I am not sure yet why CMake fails to build libCurl (it's an open source dependency).

Could you please confirm that you have clean installation directory (new git clone --recursive) and are following the readme?

[2020-05-29 18:00] disa6302 commented on #466
@FlorianRuen ,

Maybe the cmake is not located in the directory find_package() is trying to search in. Can you do a search for this specific cmake file and run cmake with --CMAKE_PREFIX_PATH=</path/to/folder/containing/CURLConfig.cmake>

Also, please ensure you have installed `libcurl4-openssl-dev`.

[2020-06-01 08:23] JuanCarlos-Arce opened #470 "Compilation errors on Release for Windows"
Hi,

I have tried to compile the library on Release mode and I have found that there are some compiling errors.

The steps that I have done to build the library on Release are:

`
mkdir build
cd build
set PKG_CONFIG_PATH=C:\gstreamer\1.0\x86_64\lib\pkgconfig
cmake -G "NMake Makefiles" -DCMAKE_BUILD_TYPE=Release ..
nmake
`

You can find attached the complete log file.

Hope it helps

[kinesis_x64_r

[2020-06-01 08:26] Sean-Der commented on #470
Hey @JuanCarlos-Arce

It looks like the test suite is failing to build, can you also add `-DBUILD_TEST=FALSE` to the CMake command and try again?

[2020-06-01 09:18] JuanCarlos-Arce commented on #470
Hi,

I have tried again with this command:

`cmake -G "NMake Makefiles" -DBUILD_TEST=FALSE -DBUILD_GSTREAMER_PLUGIN=TRUE -DCMAKE_BUILD_TYPE=Release ..`

And the compiling errors continue. Here is the complete log with the tests disabled.

[kinesis_release2.txt](https://github.com/awslabs/amazon-kinesis-video-streams-producer-sdk-cpp/files/4710439/kinesis_release2.txt)

It seems that there are comp

[2020-06-01 10:02] JuanCarlos-Arce commented on #469
Hi @MushMal ,

I have tried this situation with GST_DEBUG=4 and the errors seem to be related with some of the elements created for the pipeline.

Here is the log file:

[gstreamer_run_error.txt](https://github.com/awslabs/amazon-kinesis-video-streams-producer-sdk-cpp/files/4710654/gstreamer_run_error.txt)

I have installed the development version of gstreamer 1.16.2

Hope it helps.

[2020-06-01 10:26] JuanCarlos-Arce opened #471 "Build the library for x86"
Hi,

I have tried to build the library for Win32. To do that I'm executing these commands.

`call "C:\Program Files (x86)\Microsoft Visual Studio\2017\Community\VC\Auxiliary\Build\vcvars32.bat"`
`mkdir build32`
`cd build32`
`set PKG_CONFIG_PATH=C:\gstreamer\1.0\x86_64\lib\pkgconfig`
`cmake -G "NMake Makefiles" -A Win32 -DBUILD_TEST=TRUE -DBUILD_GSTREAMER_PLUGIN=TRUE ..`
`nmake`

And cmake returns

[2020-06-01 17:23] chehefen commented on #467
This issue has been resolved after working with customer offline.

[2020-06-01 17:23] #467 closed

[2020-06-01 17:32] MushMal commented on #469
@JuanCarlos-Arce you need to install plugin base as well as some of the plugins like good and bad

https://gstreamer.freedesktop.org/data/doc/gstreamer/head/gstreamer-plugins/html/gstreamer-plugins-capsfilter.html

[2020-06-01 17:35] chehefen commented on #466
@FlorianRuen can you provide us a clip that comes directly from the RTSP camera? You can generate it by going into the docker container and run
`
rtspsrc location={current_camera.rtsp_url} short-header=TRUE ! rtph264depay ! h264parse ! matroskamux ! filesink location=test.mkv
`

[2020-06-01 17:41] lherman-cs commented on #471
Do you mind to try to change `VC-WIN64A` to `VC-WIN32`, https://github.com/awslabs/amazon-kinesis-video-streams-producer-sdk-cpp/blob/master/CMake/Dependencies/libopenssl-CMakeLists.txt#L7?

[2020-06-01 18:06] JuanCarlos-Arce commented on #471
Hi @lherman-cs ,

I have tried changing the suggested file, but it doesn't fix the issue. Here is the log file for that compilation.

[kinesis_win32_2.txt](https://github.com/awslabs/amazon-kinesis-video-streams-producer-sdk-cpp/files/4712782/kinesis_win32_2.txt)

[2020-06-01 18:42] JuanCarlos-Arce commented on #469
Hi @MushMal

I have reinstalled gstreamer for windows from https://gstreamer.freedesktop.org/download/ with a complete installation but these plugins are not available. Is there any external package that we need to install after gstreamer ?

Sorry if it's an obvious question, but I haven't seen any documentation about how to install those plugins.

[2020-06-01 19:06] Sean-Der commented on #469
Hey @JuanCarlos-Arce can you re-run both installers and choose 'Full Installation'

I will update the docs to call that out also!

[2020-06-01 19:06] MushMal commented on #469
I believe you need to download the MSI executable for Windows (dev) and should choose an option of install all. @Sean-Der bit me to it!

[2020-06-02 08:22] FlorianRuen commented on #466
@disa6302 I can confirm that `libcurl4-openssl-dev` is installed on my RPI (also installed on my Ubuntu computer where the error message is the same)

But I can't find one of this files (using locate command, the first has no results, and the second return only files from Bazel, as you can see)

[code]

@chehefen Already trying to test using directly the SDK, but I can't build your SDK with succes

[2020-06-02 10:54] JuanCarlos-Arce commented on #469
Hi @Sean-Der and @MushMal .

I have installed again both installers with "full installation" and after building again the library, the results are the same. I have used gstreamer v1.16.2.

I don't know if it's related to this issue, but for this test I have set the environment variable "GSL_PLUGIN_PATH" for the folder "C:\gstreamer\1.0\x86_64\lib\gstreamer-1.0"

[2020-06-02 12:56] lpawlaczyk opened #473 "LibCurl compiles in debug mode"
LibCurl should compile in Release mode by default.
To fix it you can add:
		-DCMAKE_BUILD_TYPE=Release
to libcurl-CMakeLists.txt

[2020-06-02 17:40] MushMal commented on #473
@lpawlaczyk thanks for opening this issue. Sounds like by default it builds debug which is rather odd. We should also check the rest of the open source components.

Meanwhile, we are welcoming any contribution. Do you mind submitting a PR? All you need is to is create a branch, make the changes, push the branch upstream and it will give you a link that you can use to submit the PR. Let us know

[2020-06-02 19:47] enbochen commented on #456
This piece of information is still outdated in the doc

[2020-06-03 08:08] js1972 opened #475 "Issue with the build conflicting with AWS python libraries like boto3"
I'm finding that when I build this sdk (with kvssink) that I can no longer use boto3 as it complains about not being able to find openssl.
If I dont build kvssink then boto3 will work just fine with the existing openssl on the system (nvidia jetson platform).

So I'm trying to build kvssink without dependencies so that I can use the openssl already on the system and just apt-get install the others

[2020-06-03 23:08] TheSilentHorizon opened #476 "Cant build with cmake on windows due to CURL"
Im trying to build the project on Windows 10 so I can get the kvssink Plugin for GStreamer. However, when running the build_windows.bat i got the following error:

[code]

[2020-06-04 06:28] usmanm259 commented on #455
**Hi** @MushMal,

Sorry for not responding, i was testing streams with gstreamer kvs_gstreamer_multistream_sample app for longer duration.
The sample gstreamer app worked for more than 1 week continuously.

The issue that i am facing is that, when there is a network problem the gstreamer app stops streaming to kinesis video streams and gsteamer app is still running without exiting process.

When n

[2020-06-04 06:47] MushMal commented on #455
@usmanm259 not sure what's going on with your case as I don't have any logs. From the snippet of the code it looks like the SDK is continuously retrying and is getting a timeout for PutMedia so there is no networking.

Generally speaking, the sample application will use continuous retry policy. This means that the SDK will just continue retrying to send the buffer. Even when the frames are dropped

[2020-06-04 07:09] usmanm259 commented on #455
@MushMal I agree with you but the issue is if application has continuous retry policy then why it starts working as soon as i restart the application and if i don't restart the app and wait for it to start streaming again then it just doesn't do that.

As you can see these logs are of **June 3, 2020** ,the stream stopped after app produced these logs and i restart the app on **June 4, 2020** , wai

[2020-06-04 08:53] TheSilentHorizon commented on #476
Resolved it by disabling tests via "-DBUILD_TEST=FALSE" inside the build_windows.bat.

Looks like the tests are failing for some reason.

[2020-06-04 08:53] #476 closed

[2020-06-04 11:00] usmanm259 commented on #455
These are the logs of June 4, 2020,

WARN ] [04-06-2020 10:00:20:512.382 GMT] curlCompleteSync(): curl perform failed for url https://s-171c51c7.kinesisvideo.us-east-2.amazonaws.com/putMedia with result Timeout was reached: Operation too slow. Less than 30 bytes/sec transferred the last 30 seconds
[WARN ] [04-06-2020 10:00:20:513.040 GMT] curlCompleteSync(): HTTP Error 0 : Response: (null)
Request

[2020-06-04 17:26] TheSilentHorizon commented on #99
Sorry, for pushing this.

If i need to enter my session_token as a AWS Educate Account, how can I do it with kvssink when .aws\credentials isnt supported?

[2020-06-04 17:45] MushMal commented on #99
Can be done via env var: https://github.com/awslabs/amazon-kinesis-video-streams-producer-sdk-cpp/blob/master/src/gstreamer/gstkvssink.cpp#L249

[2020-06-04 17:50] MushMal commented on #455
@usmanm259 It really comes down to libCurl timing out. If I were to guess, there is something wrong with the OS network stack/sockets. Try to troubleshoot your system by checking the available memory, opened sockets perhaps.
Recommend building debug version of libCurl, capture any output when this happens, open an issue with libCurl GitHub repository perhaps they can give better answers

[2020-06-04 18:07] TheSilentHorizon opened #477 "How can I use kvssink with an AWS Educate Account / Temporary AWS Access"
Basically whats in the headline. Kvssink only has only a param for id and secret , but no param for token.

I already tried using credential-Path but theres no example of how to set up a credential File for kvssink. The one in ".aws\credentials" dont seem to be recognized.

[2020-06-04 18:30] MushMal commented on #477
@TheSilentHorizon there is no param for the session token. This is done specifically as kvs sink credential integration is not "interactive" per-say. What I mean by this is that the credential provider will be created at the initialization time. Presence of the session token implies that there is an expiration associated with it (up-to 1 hour). Once the streaming starts, we can't supply fresh cred

[2020-06-04 18:42] TheSilentHorizon commented on #477
@MushMal Thanks for replying so fast! Is there a value inside the aws educate platform where i can read this exact expiration value or do i have to calculate it myself?

[2020-06-04 18:48] MushMal commented on #477
To be honest I am not familiar with it. The expiration is an absolute time when the creds will expire. Internally, KVS SDK uses UINT64 to represent the UNIX time.

[2020-06-04 18:51] MushMal commented on #477
From what I understand, there is nothing special when it comes to the account id/access key/secret key/session token. You just need to retrieve these somehow.

[2020-06-04 19:50] TheSilentHorizon commented on #477
I found it, its in the Account Details in Vocareum.

And I tested it, it works. I have a improvement id like to ask, but I do that in a separate issue.

Thanks a lot!

[2020-06-04 19:50] #477 closed

[2020-06-04 19:53] TheSilentHorizon opened #478 "Clear indication of misconfigured credentials"
**Is your feature request related to a problem? Please describe.**
When you have a malformed credential file in the kvssink plugin, you get a return code "0x9" which says "STATUS_OPEN_FILE_FAILED".  There should be a error code which indicates that the credential isnt readable. As of now, i think its too vague.

**Describe the solution you'd like**
A seperate error code for a malformed configurati

[2020-06-04 21:10] MushMal commented on #477
Sounds good! We are always looking forward for folks to contribute to the design and the codebase. If you have something concrete, please don't hesitate to do a PR

[2020-06-04 21:11] MushMal commented on #478
@TheSilentHorizon thanks for the request. We can certainly improve on this.

[2020-06-05 05:20] MushMal commented on #478
@TheSilentHorizon I just checked the code and we only return STATUS_OPEN_FILE_FAILED whenever the underlying read file operation fails. Unfortunately, due to the platform independent nature of the codebase, we have to rely on fopen c API that doesn't give a lot of details.

[2020-06-05 07:55] TheSilentHorizon commented on #478
@MushMal But you know in this case that its the configuration file, dont you? Since its the file mentioned in "-credential-path". So at least that could give a hint there. I assumed earlier, that the error i recieved was due to my pipelines source, not because of a malformed configuration file.

[2020-06-05 09:28] imizus opened #479 "[QUESTION]"
Hi! I am using Producer SDK (version 2.0.2) in the application, that takes frames from a simple UDP-based internal protocol to a KVS Stream.

Sometimes I'm facing a packet loss in the UDP. In this case I can't provide the SDK with an ongoing frame in time. And it happened that if there is high amount of lost frames, the SDK fails to keep up with the connection and some issues occur that lead to a

[2020-06-05 10:24] ifuschini opened #480 "[BUG] not compiled on OSX 10.15"
**Describe the bug**
Not compile on macbook pro 2019 macOS 10.15.5
**To Reproduce**
[ 16%] Linking C shared library libcurl.dylib
Undefined symbols for architecture x86_64:
  "_CONF_modules_free", referenced from:
      _Curl_ossl_cleanup in openssl.c.o
  "_ENGINE_cleanup", referenced from:
      _Curl_ossl_cleanup in openssl.c.o
  "_ERR_free_strings", referenced from:
      _Curl_ossl_cleanup in

[2020-06-05 16:51] MushMal commented on #478
Ok, I understand the issue. Generally speaking, the entire codebase is layered in this manner. The low-level operations will most likely have no concept of the higher layers. In this case, we do have some context so the status code for failed file open can be translated to more specific status.

[2020-06-05 16:56] MushMal commented on #478
The main difficulty is the backwards compat in this case if any applications do expect the more generic open file failed status code. Highly doubt that there is any but this will warrant a version bump.

[2020-06-05 17:14] MushMal commented on #479
@imizus the older version of the SDK does not automatically support the "intermittent" producer case.

Please upgrade to the latest commits. In this case, it will support automatic intermittent producer scenario. When the application stops producing frames into the stream object, the connection will timeout (from the backend) and will notify the underlying stream object. If the buffer is empty, th

[2020-06-05 17:47] MushMal commented on #480
Seems you don't have SSL installed. Are you using a clean build? Can you attach the entire build logs?

You could also try -DBUILD_DEPENDENCIES to compile the dependencies

[2020-06-05 17:50] MushMal commented on #479
BTW, the config looks good.

[2020-06-05 20:29] MushMal commented on #478
Resolving this issue - just pushed the change in C producer. We will rebase the CPP producer on latest version of C producer as soon as possible

[2020-06-05 20:29] #478 closed

[2020-06-07 01:45] outkasst opened #481 "[BUG]: RaspberryPi , when I try to run make after the Cmake as per instructions in installation instruction i see the following error"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**SDK version number**
Include the SDK version you are running. If it is a specific commit on master branch, include

[2020-06-07 07:31] maheshwari-siddharth opened #482 "unable to stream audio from gstreamer"
gst-launch-1.0 autovideosrc ! videoconvert ! video/x-raw,format=I4204_hw allow-frame-reordering=FALSE realtime=TRUE max-keyframe-interval=45 bitrate=512 ! h264parse ! video/x-h264,stream-format=avc,alignment=au,profile=baseline ! kvssink osxaudiosrc ! audioconvert ! avenc_aac ! queue ! sink stream-name=MyKinesisVideoStream storage-size=512 osxaudiosrc ! audioconvert ! avenc_aac ! queue ! sink

I a

[2020-06-07 16:09] imizus commented on #479
Thank you for the rapid answer.

I have updated to SDK 3.0.0 and now it seems to work much better, but another new issue occured.
During the data uploading a single message pops out hundreds times:

[code]

In the doc it's written that this code means `STATUS_NO_MORE_DATA_AVAILABLE`, but the incoming and outgoing FPS are measured, both equal to 30.

Why is it happening? Is there any impact of this

[2020-06-07 16:29] MushMal commented on #479
@imizus this is a known issue that was fixed later in PIC. This is not an error but a status code indicating the buffer is empty (good) but it gets misinterpreted as a warning.

Generally, the networking thread pulls the bits from the lower-layer buffer. The buffer can return the bits, no more data, eos status codes to signal certain things to the network layer (C Producer layer) and these are not

[2020-06-07 17:08] imizus commented on #479
Thank you again!

And another question.

On the side of consumer we have a Java application that downloads the stream and decodes it. And sometimes we see 2 errors (on different consumer instances):

* java.lang.RuntimeException: Add new ParserException type
* java.lang.IllegalArgumentException: Trying to decode an EBML ID and it wants 4 more bytes, but IDs max out at 4 bytes

What do they mean?

[2020-06-07 17:50] MushMal commented on #482
From what I understand this is from gstlibav plugin. You can install it and give it a try. GStreamer related questions are best answered in GStreamer forums

[2020-06-07 17:52] MushMal commented on #479
It’s hard to tell without more details. However, I am guessing that this is likely caused by the producer side dropping a partial frame perhaps. The real-time path will evaluate to but in and bit out to minimize the latency so by the time the backend detects a broken fragment the bits have been already sent down to the consumer

[2020-06-07 18:37] chehefen commented on #482
you need to do brew install gst-libav to get the plugin.

[2020-06-08 02:18] chehefen commented on #481
which gstreamer version are you using? You can run `gst-launch-1.0 --version` to find that out.

[2020-06-08 02:19] chehefen commented on #475
we are working on make the BUILD_DEPENDENCIES=OFF path. Will keep you posted.

[2020-06-08 02:48] outkasst commented on #481
Hi,

This is what i get:
gst-launch-1.0 version 1.4.4
GStreamer 1.4.4
http://packages.qa.debian.org/gstreamer1.0

thanks

[2020-06-08 04:49] jlong29 opened #483 "[QUESTION]"
A note in the README.md regarding the necessary include directories to put in your project when doing native C/C++ with the gstreamer plugin would be appreciated. At the moment, I'm guessing a bit based upon the CMakeList.txt in the kinesis-video-gstreamer-plugin and the file kvs_prodcuer_plugin_rtsp_demo.cpp. As a start: what are the basic components of a Makefile/CMakeList.txt for your own proje

[2020-06-08 16:12] phillipshaong opened #484 "[QUESTION]OpenSSL Version: AWS Kinesis: Download and Build the Kinesis Video Streams C++ Producer SDK"
Raspberry Pi 4
Raspbian Lite

After installing all the required dependencies, I perform:
`git clone --recursive https://github.com/awslabs/amazon-kinesis-video-streams-producer-sdk-cpp.git`
`mkdir -p amazon-kinesis-video-streams-producer-sdk-cpp/build`
`cd amazon-kinesis-video-streams-producer-sdk-cpp/build`

I get the following error message when trying to use the command `cmake .. -DBUILD_GSTREA

[2020-06-08 16:34] disa6302 commented on #466
@FlorianRuen ,

I am not sure why the build is failing for you. One thing I can suggest is remove the existing curl installations in your platform and retry installing curl from scratch.

[2020-06-08 16:41] disa6302 commented on #484
@phillipshaong ,

Could be a linking error. Can you try setting LD_LIBRARY_PATH to point to the openssl path and see if it works?

`export LD_LIBRARY_PATH=/usr/local/lib`, assuming this is where openssl gets installed by default.
Also, check which openssl version is being referenced by running `which openssl`

The SDK installs openssl version 1.1.0l by default. and the one you installed install 1.

[2020-06-08 16:44] aeperaltan commented on #469
Please provide guidance on how to proceed. Thanks!!

[2020-06-08 17:04] imizus opened #485 "[BUG] Crash in Curl"
**Describe the bug**
I'm running an application based on the Producer SDK and at some point facing a crash.

Here is the stacktrace:
[code]

**SDK version number**
I am using Producer SDK 3.0.0.

**Platform (please complete the following information):**
 - OS: Linux
 - Processor: Intel Xeon Platinum 8176
 - Version: Ubuntu 16.04.4

[2020-06-08 17:11] MushMal commented on #485
@imizus the crash seems to originate in libcurl but there is no debug symbol info to understand what could cause this as the curl crash could indeed be caused by the producer library as well.

Could you please build the debug version of the SDK to capture the crash stack (running under the debugger and dumping backtraces for threads are the best, or at least get the code dumps). What's the scenari

[2020-06-08 17:20] imizus commented on #485
There is nothing significant in the log before the crash. It was uploading flawlessly and then the crash occured.

The only useful info we have about it is that it occured on 2 instances of the application with a span of 5 minutes.

Concerning the debug version of the SDK, maybe I'll give it a try... The problem is that it seems that it can't keep 30FPS on our system....

[2020-06-08 17:24] MushMal commented on #484
What I am thinking is that the library or the path is not "mapped" properly as openssl executable itself is failing to find the library.

[2020-06-08 17:30] MushMal commented on #469
OK, what's the latest on this issue?

* Has the GStreamer for Windows been installed? Recommend installing the latest dev with FULL installation as that's what's installing the plugins too
* Set the GST_PLUGIN_PATH
* The gstreamer_run_error.txt contains a single failure of not finding capsfilter filter. This points to the plugins and plugins base not being installed.

While I understand that this

[2020-06-08 17:32] MushMal commented on #466
@FlorianRuen have you been able to run natively on RPi? Can you check whether the samples run OK? Can you run the gst pipeline with autovideo sink to eliminate the KVS all together?

From the video/description (as I mentioned before) it seems that your RTSP source produces key-frames which are out-of-order. This points to some issues with the UDP/networking

[2020-06-08 17:41] MushMal commented on #485
@imizus the SDK itself is super lightweight and should power through with debug logs and debug codebase with little impact. I understand that this might not be the best but could provide useful info.

An alternative is to create the symbols, configure the exception handler to dump the cores and match against the symbols.

The best core dump can be generated by running the debug code as aside from

[2020-06-08 17:42] MushMal commented on #485
one more thing. Try to bisect the issue. Try to run with a single stream and see whether this causes an issue that way you won't have the latency or perf problems.

If this works OK then it points to some major pressures on the system. What's your memory consumption/situation? Most of the OS-es overcommit the memory and will crash when the actual memory is claimed. What's your storage configuratio

[2020-06-08 17:47] imizus commented on #485
We'll try to make a Debug version and reproduce the issue. The problem is that it's relatively rare.

[2020-06-08 17:50] MushMal commented on #485
Understood. Please let us know how we can help.

We had had some issues that are rare which required us to put together long-haul 'canary' applications that run with full debug symbols to capture the root cause.

[2020-06-08 17:53] chehefen commented on #466
@FlorianRuen I streamed the clip using ./kvs_gstreamer_file_uploader_sample and I didnt see the timestamp go backward. Are you using producer timestamp mode or server timestamp mode when viewing the stream?

[2020-06-08 19:28] FlorianRuen commented on #466
@chehefen I try both of them. But I can see the same problem when I watch the feed on my application which displays an HLS feed provided by Kinesis Video

[2020-06-09 07:23] JuanCarlos-Arce commented on #469
Hi @MushMal ,

At the moment I have reinstalled both installers with "Full Installation" and I have several environment variables pointing to GStreamer folders:

- GST_PLUGIN_PATH: C:\gstreamer\1.0\x86_64\lib\gstreamer-1.0
- GSTREAMER_1_0_ROOT_X86_64: C:\gstreamer\1.0\x86_64\
- GSTREAMER_INCDIR: C:\gstreamer\1.0\x86_64\include\gstreamer-1.0
- GSTREAMER_LIBDIR: C:\gstreamer\1.0\x86_64\lib

And I ha

[2020-06-09 07:37] MushMal commented on #469
@JuanCarlos-Arce I don't have a Windows machine handy right now to check. Meanwhile, could you please take a look at the way the TravisCI runs install Windows specific GStreamer: https://github.com/awslabs/amazon-kinesis-video-streams-producer-sdk-cpp/blob/master/.travis.yml#L107-L115

The build can provide some more insights:
https://travis-ci.com/github/awslabs/amazon-kinesis-video-streams-produ

[2020-06-09 18:47] jlong29 opened #486 "[BUG] Loading kvssink Gstreamer Plugin in a Native CUDA App"
**Expected behavior**
I first validated that the gstreamer plugin kvssink worked via the gst-launch cli. I also tested the samples build with the SDK 3.0.0 and these works. I then expect the kvssink element to load successfully with the command ```gst_element_factory_make``` in a C/C++ program. **I also expect clear documentation for AWS regarding how to use the kvssink in a Native C/C++ App.** Th

[2020-06-09 18:51] chehefen commented on #481
your gstreamer version is too old. it's missing the gst_segment_to_running_time_full api.

[2020-06-09 18:56] chehefen commented on #466
can you export KVS_DEBUG_DUMP_DATA_FILE_DIR=/path/to/dir, and run the kvs producer? It will save an mkv file there which is exactly what has been sent to kvs. Can you send us that mkv file?

[2020-06-09 19:00] disa6302 commented on #482
@maheshwari-siddharth ,

Any updates? Does installing gst-libav fix your problem?

[2020-06-09 19:08] disa6302 commented on #424
Being tracked in producer C repo for now

[2020-06-09 19:08] #424 closed

[2020-06-09 20:23] disa6302 commented on #473
@lpawlaczyk ,

The libcurl will now compile in release mode. Fixed it in PR #487 . Feel free to reach out if you have any questions!

[2020-06-09 20:23] #473 closed

[2020-06-09 21:07] outkasst commented on #481
hi,
Is it possible to install or update gstreamer with pip? Or how do i install it?
thx

[2020-06-09 21:26] disa6302 commented on #481
You can run the following instruction on your Pi:

`sudo apt-get install libgstreamer1.0-dev libgstreamer-plugins-base1.0-dev gstreamer1.0-plugins-base-apps gstreamer1.0-plugins-bad gstreamer1.0-plugins-good gstreamer1.0-plugins-ugly gstreamer1.0-tools`

[2020-06-09 22:44] MushMal commented on #481
This should be somewhere in the readmes I believe.

@outkasst could you please update your gstreamer and retry. Open a separate issue if anything. Please Close this one if you are able to compile

[2020-06-09 23:20] MushMal commented on #486
@jamesiri Thanks for the report. Just to reiterate on what I am reading:

* Need concise documentation on how to include kvs plugin in the application - Are you able to get details from https://github.com/awslabs/amazon-kinesis-video-streams-producer-sdk-cpp/blob/0a972632590b8baa11878b3cfc325fee0ad37b14/samples/kvs_gstreamer_audio_video_sample.cpp aside from the need to document the params

* Nami

[2020-06-10 02:12] jlong29 commented on #486
Thanks for following up. I managed to solve the problem. It turns out I did not exactly understand how Gstreamer loads libraries at runtime within a native C/C++ App. I was trying to link to the gstkvssink library at compile time using make and Gstreamer only loads libraries at runtime. It uses it's search path, which includes GST_PLUGIN_PATH and LD_LIBRARY_PATH.

My mistake was that I am using a

[2020-06-10 04:29] MushMal commented on #486
@jlong29 unfortunately, I don't have a CUDA compiler handy here.

Regarding the naming conventions. When compiling C++ one has a benefit of the namespaces which makes it impossible to collide (we use a deep AWS KVS specific namespace). In C layers, though, there is a possibility of a collision. We have tried to avoid such collisions by having prefixed and specific names at the higher layers. Commo

[2020-06-10 04:40] maheshwari-siddharth commented on #482
let me share output of all commands

gst-launch-1.0 autovideosrc ! videoconvert ! video/x-raw,format=I420,width=1280,height=720 ! vtenc_h264_hw allow-frame-reordering=FALSE realtime=TRUE max-keyframe-interval=45 bitrate=512 ! h264parse ! video/x-h264,stream-format=avc,alignment=au,profile=baseline ! kvssink stream-name=MyKinesisVideoStream storage-size=512  osxaudiosrc ! audioconvert ! avenc_aac !

[2020-06-10 04:43] MushMal commented on #482
We have a few samples of command lines defined here: https://github.com/awslabs/amazon-kinesis-video-streams-producer-sdk-cpp/blob/master/docs/linux.md

`gst-launch-1.0 -v v4l2src device=/dev/video0 ! videoconvert ! video/x-raw,width=640,height=480,framerate=30/1,format=I420 ! omxh264enc periodicty-idr=45 inline-header=FALSE ! h264parse ! video/x-h264,stream-format=avc,alignment=au,profile=baselin

[2020-06-10 04:55] maheshwari-siddharth commented on #482
@MushMal

[2020-06-10 04:55] maheshwari-siddharth commented on #482
@MushMal
this command give me this error
WARNING: erroneous pipeline: no element "v4l2src"

[2020-06-10 05:06] disa6302 commented on #482
@maheshwari-siddharth ,

Can you try this pipeline?

gst-launch-1.0 -v avfvideosrc ! videoconvert ! vtenc_h264_hw allow-frame-reordering=FALSE realtime=TRUE max-keyframe-interval=45 ! kvssink name=sink stream-name="my_stream_name" access-key="YourAccessKeyId" secret-key="YourSecretAccessKey" osxaudiosrc ! audioconvert ! avenc_aac ! queue ! sink.

This uses the Mac OS audio/video camera source

Thi

[2020-06-10 05:16] MushMal commented on #482
@maheshwari-siddharth all your questions are related to GStreamer and as such GStreamer forums might have better answers. I didn't know what platform or capabilities you are using and gave a sample command line. Please check our docs for mac - there are some samples in there.

Please resolve this issue if your question has been answered

[2020-06-10 05:18] maheshwari-siddharth commented on #482
gst-launch-1.0 -v avfvideosrc ! videoconvert ! vtenc_h264_hw allow-frame-reordering=FALSE realtime=TRUE max-keyframe-interval=45 ! kvssink name=sink stream-name="my_stream_name" access-key="YourAccessKeyId" secret-key="YourSecretAccessKey" osxaudiosrc ! audioconvert ! avenc_aac ! queue ! sink.

ERROR: from element /GstPipeline:pipeline0/GstAVFVideoSrc:avfvideosrc0: Internal data stream error.

gst

[2020-06-10 05:26] MushMal commented on #482
here is an example of audio/video on mac osx

gst-launch-1.0 -v avfvideosrc device-index=1 ! h264parse ! kvssink name=sink stream-name="my_stream_name" access-key="YourAccessKeyId" secret-key="YourSecretAccessKey" osxaudiosrc ! audioconvert ! avenc_aac ! queue ! sink.

from https://github.com/awslabs/amazon-kinesis-video-streams-producer-sdk-cpp/blob/master/docs/macos.md

In genreal, you can work

[2020-06-10 05:27] maheshwari-siddharth commented on #482
we have a mac book air 2017 model with catalina installed , we have checked all commands used in the githhub

[2020-06-10 05:28] maheshwari-siddharth commented on #482
ERROR: Pipeline doesn't want to pause.
ERROR: from element /GstPipeline:pipeline0/GstAVFVideoSrc:avfvideosrc0: Invalid video capture device index

[2020-06-10 05:47] disa6302 commented on #482
@maheshwari-siddharth ,

As per offline discussions, you are encountering Internal data stream error for the pipeline I suggested. This could mean the settings your Mac uses are different and hence the pipeline does not work as expected. As suggested by @MushMal , please work on fixing the pipeline and if the pipeline issue is fixed and you still face issues, we would be happy to help you out in s

[2020-06-10 05:53] maheshwari-siddharth commented on #482
you advised the using a lib from Gstreamer i am usinhg it if Gstreamer lib is not working i thing you must raise this issue to Gstreamer , or if you have any AWS lib for this i am happy to use it but as you are working with Gtreamer closely i think they will take quicker action on your tickets or forum .
I just wanted a basic life cycle of kineses which aws is providing either from aws lib or Gstr

[2020-06-10 06:02] MushMal commented on #482
@maheshwari-siddharth the issue is that the setup that we have tried must be somewhat different than yours. The command lines from the doc do work on Mac OSx on macbook pros for example - pre-Catalina. It is impossible for us to have a comprehensive list of GStreamer/platform/OS/Software/Versions/Hardware combinations to test internally. Hence, we can just try to help with some advise but won't be

[2020-06-10 06:07] maheshwari-siddharth commented on #482
You are able to run video ingestion via gst-launch with kvs plugin?
Yes - i am able to use video
You are able to run the video sample?
yes - I am run video sample too.
Are you able to run audio/video sample application?
No- i am not able to run the audio/video solution

if kineses is depends on Gstremaer and Gstreamer is not working then how you expect client to use the Kineses. you solution is in

[2020-06-10 06:16] FlorianRuen commented on #466
Can I do this using Docker image ? (just by adding the export to the docker command), because I've still the issue with C/C++ SDK for now

[2020-06-10 06:19] MushMal commented on #482
@maheshwari-siddharth KVS is orthogonal to GStreamer. We can integrate with any media pipeline. We just have samples that integrate with GStreamer.

In general, GStreamer is a platform and not a single tool.

I would recommend you to troubleshoot audio/video without kvs plugin first. You can use simple fakesink.

It's hard for us to use the endless permutation of different OS/hardware/software/con

[2020-06-10 06:23] maheshwari-siddharth commented on #482
you have many ways to pass the ball on client side but end of the day my kineses is not working.
you are asking me check  every single  plugin before working on AWS kineses, here your recommendation has not value use gstreamer.

[2020-06-10 06:36] MushMal commented on #482
@maheshwari-siddharth we are sorry you feel that we are passing the ball to you when we can't debug/troubleshoot your hardware for you for an entirely unrelated project to AWS/Kinesis.

There might be people in the community who have MacBook Air with Catalina that could give it a try to see what's wrong.

[2020-06-10 06:38] maheshwari-siddharth commented on #482
i dont think its hardware we have checked it amazon chime is perfectly working on my machine if you want i can get you checked. now it look like scapegoat by blaming the hardware.

[2020-06-10 09:32] imizus commented on #485
I have built a Debug version of all libraries including libcproducer.so. But it still lacks the exact line numbers in the stack trace. To do so, I set the CMAKE_BUILD_TYPE=Debug. I believed

What am I doing wrong?

[2020-06-10 10:26] imizus commented on #485
Update: I have deciphered my recent crash stacktrace manually.

Here is the new stacktrace from the Debug version:
[code]

curlCompleteSync+0x1af corresponds to:
[code]

curlCallApi+0x6e corresponds to:
[code]
putStreamCurlHandler+0x1a8 corresponds to:
[code]

[2020-06-12 04:45] MushMal commented on #485
@imizus any further update on this issue?

As I was thinking about this issue, I also wanted to ask about kernel overcommit or threading issues. As I can't tell what's wrong with the libpthread dereferencing NULL, I am thinking that this could happen if there is a failure to allocate memory for a thread for example. This points to OOM conditions. There is also possibility that the process has more

[2020-06-13 02:35] disa6302 commented on #484
@phillipshaong ,

Any updates?

[2020-06-14 08:24] bigfatbrowncat commented on #485
I spent some hours running many instances of the application from gdb on the server. No luck to catch even one crash of this kind. That looks suspicious...

Just an idea. Which exact version of libcurl this library has been proven to work correctly with?

I am investigating 2 cases:
1. Building against a wrong libcurl
2. Building against a correct libcurl, but running (on a different machine) agai

[2020-06-15 03:39] disa6302 commented on #400
@timetxt ,

Any updates?

[2020-06-15 03:40] disa6302 commented on #433
@mwildehahn ,

Any updates? Does the pipeline @chehefen suggested work for you?

[2020-06-15 03:43] disa6302 commented on #461
@aeperaltan ,
You can open a new issue with the details.

[2020-06-15 03:43] #461 closed

[2020-06-15 03:44] disa6302 commented on #466
@FlorianRuen ,

You should be able to export in Docker image.

[2020-06-15 03:45] disa6302 commented on #469
@aeperaltan , @JuanCarlos-Arce ,

What is the latest on the issue?

[2020-06-15 04:00] disa6302 commented on #470
@JuanCarlos-Arce ,

Can you try what is posted here?

https://github.com/awslabs/amazon-kinesis-video-streams-producer-sdk-cpp/issues/461#issuecomment-632044826

[2020-06-15 04:12] disa6302 commented on #485
@bigfatbrowncat ,

We have been working with curl-7_68_0 (You can check it here: https://github.com/awslabs/amazon-kinesis-video-streams-producer-sdk-cpp/blob/master/CMake/Dependencies/libcurl-CMakeLists.txt)

We were working with the debug version previously and now we build the RELEASE version after this commit: https://github.com/awslabs/amazon-kinesis-video-streams-producer-sdk-cpp/pull/487

[2020-06-15 04:21] disa6302 commented on #483
@jlong29 ,

Thank you for the suggestion. We will look into this.

[2020-06-15 04:24] disa6302 commented on #481
@outkasst ,

Any updates?

[2020-06-15 04:26] disa6302 commented on #480
@ifuschini ,

Any updates on this?

[2020-06-15 09:20] JuanCarlos-Arce commented on #470
Hi @disa6302 ,

I have followed that thread to make the library built on debug ( the default configuration ), but it seems that the release version needs anything else on the cmake files.

[2020-06-15 09:47] JuanCarlos-Arce commented on #469
Hi @disa6302 , @MushMal ,

I have installed gstreamer from chocolatey as your CI machine does and I have updated the environment variable GST_PLUGIN_PATH to point the build folder as the documentation in [here ](https://docs.aws.amazon.com/kinesisvideostreams/latest/dg/examples-gstreamer-plugin.html) suggests, and the compilation process continues working fine.

I also have checked the information

[2020-06-15 11:48] FlorianRuen commented on #466
@disa6302 It seems not works

I run my app with the KVS_DEBUG_DUMP_DATA_FILE_DIR=test_debug.mkv using my docker container, but there is no way to copy the file from container to host after (the docker cp doesn't work on the docker container with KVS image)

Can you explain the way to do this ?

Thanks in advance,

[2020-06-15 17:04] chehefen commented on #466
@FlorianRuen  it should be a path to a directory. export KVS_DEBUG_DUMP_DATA_FILE_DIR=/path/to/dir

[2020-06-15 17:32] FlorianRuen commented on #466
@chehefen Ok I will try, so it will be

- Start a container using the KVS image
- Exec this command inside container
`KVS_DEBUG_DUMP_DATA_FILE_DIR=/ gst-launch-1.0 rtspsrc location={current_camera.rtsp_url} short-header=TRUE ! rtph264depay ! h264parse ! kvssink stream-name={current_camera.remote_id} storage-size=256 access-key={self.access_key} secret-key={self.secret_key} aws-region=eu-central-1

[2020-06-15 17:53] MushMal commented on #482
Understood. Perhaps it's something that the RTSP plugin requires that's not supported on Catalina. I am resolving this issue as we can't make further progress on GStreamer RTSP plugin

[2020-06-15 17:56] MushMal commented on #485
@bigfatbrowncat it's hard to know what exactly could have caused the issue in the first place. Perhaps linking against an older version of the curl library that's on the system instead of the one that the library was built against - similar to the scenario you've highlighted. I doubt that this is libpthread related issue - it's a manifestation of the crash rather than the root cause.

Could you pe

[2020-06-15 18:29] MushMal commented on #469
@JuanCarlos-Arce if you are getting the same error then something is odd with the pipeline. Could you perhaps try gst-launch with your pipeline but without kvs in it. You might want to stabilize the GStreamer pipeline first. Sorry, I am unable to reproduce this locally.

[2020-06-15 20:27] #483 closed

[2020-06-15 22:11] jlong29 opened #490 "Latency and burst observed on GetMedia"
**Describe the bug**
KVS exhibits an odd delay pattern that results in a lot of latency.

**To Reproduce**
Run the gstreamer plug-in with the following gst-launch-1.0 command (I am using an Nvidia TX1 dev kit with GPU accelerated h264 encoding):
gst-launch-1.0 nvcamerasrc fpsRange="30.0 30.0" ! 'video/x-raw(memory:NVMM), width=(int)320, height=(int)240, format=(string)I420, framerate=(fraction)30/

[2020-06-16 02:08] outkasst commented on #481
still cant install it.. for now please go ahead and put it as not a bug..

[2020-06-16 04:06] #481 closed

[2020-06-16 05:27] farleylai opened #491 "[QUESTION] Workaround for NALUs ending with 0x00"
NALUs ending with `0x00` would be rejected by KVS with error `0x3200000d` as discussed in #357 and the [comment](https://github.com/awslabs/amazon-kinesis-video-streams-producer-sdk-cpp/issues/357#issuecomment-591616138).

However, as we are expanding support for major NVR vendors which expose their video stream access through RTSP, there is a vendor Dahua whose H.264 NALUs always end with `0x00`.

[2020-06-16 05:40] MushMal commented on #491
Thanks @farleylai . We will investigate this and come up with something soon

[2020-06-16 05:57] MushMal commented on #491
One more thing... Is your application supplying the CPD or you are relying on auto-CPD extraction built in the SDK?

[2020-06-16 06:01] MushMal commented on #491
Kind of weird NALUs anyway

0000 0001 6764 001e ac1b 1a80 b03d ffff
0028 0021 6e0c 0c0c 8000 01f4 0000 7530
7430 07d0 0001 312d 5de5 c686 00fa 0000
2625 abbc b850 0000 0000 0168 ee38 3000

Looking at the frames seems EVERY non-frame NALu here returns an extra 0x00.

[2020-06-16 06:02] MushMal commented on #491
For example - the I-frame:

000 0001 0910 **00**00 0000 0167 6400 1eac
1b1a 80b0 3dff ff00 2800 216e 0c0c 0c80
0001 f400 0075 3074 3007 d000 0131 2d5d
e5c6 8600 fa00 0026 25ab bcb8 50**00** 0000
0001 68ee 3830 0000 0000 0106 000d bcff
8749 b516 3cff 8749 b516 4001 0400 7808
1006 01c4 80**00** 0000 0001 65b8...

[2020-06-16 06:04] MushMal commented on #491
Wondering if a special pre-processing needs for this particular camera vendor that simply gets rid of all the zeroes over 3 in a row and then feeds it into the rest of the processing... Need some experimentation to see whether that will work

[2020-06-16 06:51] farleylai commented on #491
The CPD(SPS/PPS) are extracted from RTSP/SDP by ffmpeg and also available in every key frame. The comparison indicates both are the same (including the ending zero byte).

We actually managed to remove the ending zero bytes (seems like ffmpeg parsing skips it) and made sure still decodable by ffmpeg. Nonetheless, if uploaded to KVS, the console still shows no media found. Hence, it is unclear what

[2020-06-16 06:58] MushMal commented on #491
By looking at it, we have two issues here.

1) The extra 0s at the end of some of the NALus but not all of them.
2) AUD/SEI NALus included in the CPD which might be breaking both the producer side and/or the backend playback/HLS/MPEG-DASH.

Can you please answer some of my questions

* How are you using CPD: Are you directly specifying it or you rely on the SDK to extract it from the I-frame?
* Wh

[2020-06-16 08:34] farleylai commented on #491
Sure,

The latter. Since the ending zero causes problems, the SPS/PPS in key frames are filtered for KVS to accept.

My bad. Looking into the messages, there is a stream error for max fragment duration reached, implying the key frame flag was not set appropriately. This is indeed the case that the keyframe flag was lost as the NALUs are filtered for recomposition. Therefore in summary, just filter

[2020-06-16 17:50] chehefen commented on #466
yes this is ok.

[2020-06-16 21:15] FlorianRuen commented on #466
@chehefen Tonight I tried something as we discussed:

- I try with 2 networks (my camera not on the same network that the computer which send the video to KVS, with the export KVS_DEBUG ...), and the problem doesn't appear (I have the video file, but I don't think it's necessary to send to you because there is nothing strange)

- But when I try the exact same configuration using my application (wh

[2020-06-17 00:32] phillipshaong commented on #484
Thanks for following up! I'm not sure why, but after one of the reboots I just did, it stopped giving the error. I don't know why, since previous reboots have failed to fix the problem.

[2020-06-17 00:32] #484 closed

[2020-06-17 09:47] JuanCarlos-Arce commented on #469
Hi @MushMal ,

I have found the issue with GStreamer, the library generates a bin file with the register of all the available plugins, it seems that there was an issue with the first installation and I had to erase that file to generate it again with the complete installation and now all the plugins works as expected.

On the another hand, as I wrote previously, I have checked that your CI Machine

[2020-06-17 09:51] JuanCarlos-Arce commented on #471
Hi @lherman-cs,

Kindly Reminder.

[2020-06-17 15:50] lherman-cs commented on #471
@JuanCarlos-Arce Do you mind to resend the log in English? I missed some of the context. Thanks

[2020-06-17 22:25] MushMal commented on #469
@JuanCarlos-Arce this particular issue was opened to track build issues on the Windows platform which seem to be OK for you. I am not sure what the TravisCI issues you are having - perhaps this is something on your environment?

[2020-06-17 22:29] MushMal commented on #470
@JuanCarlos-Arce seems that you are reporting an unrelated issue with openSSL. We had had a few stability issues with OpenSSL (NOTE: We don't own that component) which clean build resolves. Make sure you start fresh or use `git clean -ddfx` command. There have been reports that the cmake fails with some build race condition on open ssl initially. You should try to run it consequently. Also, try to

[2020-06-17 22:31] MushMal commented on #471
@JuanCarlos-Arce this is exactly the same issue as I commented on https://github.com/awslabs/amazon-kinesis-video-streams-producer-sdk-cpp/issues/470#issuecomment-645659607

Sorry that this is hard going but we don't own these projects and as such it's hard to debug building them with different configs on various platforms.

[2020-06-18 03:18] MushMal commented on #491
@farleylai could you please take a look at https://github.com/awslabs/amazon-kinesis-video-streams-pic/pull/68

It does handle the bad encoder output as well as it handles the AUD and SEI NALus.

This said, for some reason the decoding fails during the playback in the console (not yet sure whether this is actually your frames that are bad).

[2020-06-18 04:22] farleylai commented on #491
@MushMal Thanks for the effort. Might we expect the next release to apply this fix?

The playback issue was confirmed due to the loss of keyframe flag in the process of filtering out the trailing zero byte. After removing the ending zero and restoring the keyframe flag, everything seems to work fine. I appreciate that KVS improves its interoperability with popular brands in the market.

[2020-06-18 05:12] MushMal commented on #491
Absolutely. We just need to fix this property. Do you mind trying this patch/branch and see how this works - I couldn’t get this to work with the frames you’ve attached. I modified the video only sample to play these frames in a loop with a single key frame and the rest are p frames. The default is setting the flags to adapt the annexb to avcc for the console playback but I am getting a decoding e

[2020-06-18 06:34] farleylai commented on #491
@MushMal The streaming upload to KVS and the console playback work fine on my side as long as SPS/PPS from CPD are rearranged to be the very first NALUs and the trailing zero bytes are filtered out from non-VCL NALUs given auto CPD extraction (the previous playback issue is due to the loss of keyframe flags).

As far as observed, almost all the non-VCL NALUs including the SPS/PPS in CPD contain th

[2020-06-18 06:40] MushMal commented on #491
You can simply point your c producer commit to the commit of the branch in the PR. Remove the dependencies directory and run cmake. BTW, you might need to enable the fixup for the bad encoder by specifying the compile time define. I know this is very involved. I will try it tomorrow our time and remove the NALus from the CPD and check the playback

[2020-06-18 06:58] JuanCarlos-Arce commented on #469
Hi @MushMal,

Please, check that the URL that I have posted is your own travis machine. You are having the same building issue on your Windows machine since a long time. The building process is failing with several compilation and linking errors but your TravisCI Machine returns that the process has been completed correctly.

[2020-06-18 07:09] MushMal commented on #469
I have the following in the link you've provided:

$ choco install nasm strawberryperl gstreamer
Chocolatey v0.10.15
Installing the following packages:
nasm;strawberryperl;gstreamer
By installing you accept licenses for the packages.
Progress: Downloading nasm 2.14.02... 100%
nasm v2.14.02 [Approved]
nasm package files install completed. Performing other installation steps.
Downloading nasm 64 bit

[2020-06-18 07:11] MushMal commented on #491
Sorry, should have given more info - to enable 4 zeroes and one fixup you need to specify FIXUP_ANNEX_B_TRAILING_NALU_ZERO compiler define. I am hard-coding this for now in the local copy in c producer to get this compile flag through (for some reason I am not able to get this in via the ExternalProject_Add in libkvspic_CMakeLists.txt.

[2020-06-18 07:13] farleylai commented on #491
Got it. Will try to build soon.

[2020-06-18 07:20] JuanCarlos-Arce commented on #471
Hi @MushMal ,

As I have seen on the cmake files.... the issue is not related with OpenSSL library itself. The problem is the current CMake files that doesn't support x86 platforms because they set x64 by default ( as @lherman-cs said previously in this thread).

In my view, to support several platforms, some of the cmake files must check the selected platform from the command line arguments and c

[2020-06-18 07:25] MushMal commented on #491
Hmm, odd, got it working but I needed to actually remove the SEI and AUD NALus from the frames in order to get it working. The CPD works fine. Will need to implement some logic for that.

[2020-06-18 07:27] MushMal commented on #471
Oh, sorry, I was confused. Yes, this does seem to be a missing feature. I am labeling this as an enhancement. This should be addressed.

[2020-06-18 07:28] JuanCarlos-Arce commented on #469
Hi @MushMal ,

Please, scroll down on the same page until the building process are run (line 1334)  and you can check that the windows platform on your CI Machine throws errors like:

`LINK : fatal error LNK1181: cannot open input file 'crypto\aes\aes_cbc.obj'
-- Configuring incomplete, errors occurred!
See also "C:/Users/travis/build/awslabs/amazon-kinesis-video-streams-producer-sdk-cpp/build/CMa

[2020-06-18 07:33] MushMal commented on #469
Thanks, indeed, just saw this linker error. I am now wondering how the final library gets linked together. We will certainly take a deeper look at this.

[2020-06-18 07:35] MushMal commented on #469
NOTE to the reader (as this thread is quite long). Seems that the OpenSSL crypto library is failing to link.

`LINK : fatal error LNK1181: cannot open input file 'crypto\aes\aes_cbc.obj'`

* Need to understand what's causing OpenSSL build to fail on Windows platform
* Need to understand how we end up with linking the c producer library at the end.

[2020-06-18 07:47] farleylai commented on #491
The CPD (SPS/PPS) is provided in the RTSP/SDP (not included in the attachment but the same as the SPS/PPS in the frame) and prepended before AUD in the frame to make the streaming upload and console playback work. I think the issue is that the current KVS parsing assumes the very first NALUs must be SPS/PPS for auto CPD extraction? If that is the case, perhaps, skipping until the SPS/PPS are found

[2020-06-18 07:51] MushMal commented on #491
The fix I made handles the CPD just fine. The problem now is that after adapting to AvCC, we also need to remove the AUD and SEI from the frames. Once I did that, the playback works (which is the MSE in the browser)

[2020-06-18 07:52] MushMal commented on #491
And, I am thinking that perhaps the right approach to the frame adaptation is to remove any NALus which have the nal_ref_idc = 0 (for H264)

[2020-06-18 20:15] farleylai commented on #491
Agreed, that would make sense.

I also built the `bad_encoder_fix` branch within the master branch of `amazon-kinesis-video-streams-producer-c` with `-DFIXUP_ANNEX_B_TRAILING_NALU_ZERO=ON` option on for cmake.
However, if the trailing zeros are not filtered out manually, the console still shows `Fragment decoding error` even with AUD/SEI removed. Am I missing something from your build/changes?

PS

[2020-06-18 22:36] MushMal commented on #491
If you are able to stream the bits in then you are properly using the fix-up. The main question then is why the MSE is failing to decode. Here, I think the problem is that the encoded frames should not contain SEI after the IDR slice. I will be providing a fix shortly.

[2020-06-18 22:58] yoyomans opened #492 "[QUESTION] - Encountered could not open file ./kvs_log_configuration error"
Hi all,
currently a bit lost with how to resolve this error I am getting...
[code]

I have followed the instructions in the readme but when trying to start my data stream I get the above error, previously people who encountered this error had resolved it by setting the LD_LIBRARY_PATH env variable which I have done as instructed by the readme instructions and it is currently set to: `/amazon-kines

[2020-06-18 23:09] farleylai commented on #491
OK, so you mean the console is supposed to decode successfully without manually removing the trailing zero? Got it and I remember initially it failed to upload with error `0x3200000d` immediately. Hence, with this fix, the uploading works but the console still finds something wrong for some reason.

BTW, what is the MSE you were referring to, the Media Source Extensions?

Also, where did you see t

[2020-06-18 23:12] disa6302 commented on #492
@yoyomans ,

The config file exists in https://github.com/awslabs/amazon-kinesis-video-streams-producer-sdk-cpp/tree/master/samples

Can you try adding this this to your pipeline and see if it works?

`log-config=samples/kvs_log_configuration`

[2020-06-18 23:13] MushMal commented on #492
There are two issues.

1) The higher-level assets such as CPP SDK or GStreamer plugin use log4cplus for logging which requires the configuration file. Make sure you point it to https://github.com/awslabs/amazon-kinesis-video-streams-producer-sdk-cpp/blob/master/samples/kvs_log_configuration though, this will primarily affect the logging only and shouldn't cause fatal errors.
2) You seem to want to

[2020-06-18 23:16] MushMal commented on #491
Correct. As for the console playback, the backend does the re-packaging of the fragments into MPEG fragments which get loaded in your browser and submitted to the MSE (Media Source Extension) for the actual depackaging, decoding and playback.

I am just speculating about the MSE playback... Saying that perhaps SEI shouldn't be in the stream in between IDR and P-frames. In either case, when I remov

[2020-06-19 02:07] farleylai commented on #491
Got it but it seems like our code change may still have subtle inconsistence because mine also removes the AUD/SEI but the fragment decoding error remains.

[2020-06-19 11:42] indoorrobot opened #493 "[BUG] - Timestamp mess"
In the last few days we are encountering major time stamping issues:
The timestamp does not correlate the time the video was uploaded at - not when using producer timestamp nor with server timestamp.

To make it even weirder, the video in producer timestamp leaped to future time.... happens with ntp service disabled and after system time was verified.

**SDK version number**
2.1.0

 - OS: Linux
 -

[2020-06-19 13:31] mggunman commented on #470
So I'm getting the same issue as stated in the previous thread and I'm stuck at the same point as many others who have tried to build this SDK on windows.
I've installed git, chocolately, nasm, strawberryperl, gstreamer both versions, visual studio 2019+its dev tools, openssl, pkg-config, mingw, msvs2 and cmake and many more - I've installed this same SDK into a Ubuntu docker container and it work

[2020-06-19 16:44] yoyomans commented on #492
Hi thanks for your replies, my problem was I hadn't set the AWS_ACCESS_KEY_ID and the other env variables needed and had just pasted the credentials directly into the command, when replacing the the strings in the command with the newly set env variables I got this new error
[code]

can you tell me the correct format I am meant to use to define these env variables when launching `gts-launch` I've

[2020-06-19 16:49] disa6302 commented on #492
@yoyomans ,

Please set the environment variables this way:
`access-key=$AWS_ACCESS_KEY_ID`

[2020-06-19 17:00] yoyomans commented on #492
@disa6302 thank you so much for all your help, it appears to be working now :D

[2020-06-19 17:00] #492 closed

[2020-06-19 18:24] MushMal commented on #470
Apologies for this issue, we are trying to reproduce and come up with some solution - no ETA yet.

Meanwhile, search the issues - there are some questions asked about USB camera access under docker.

[2020-06-19 18:32] MushMal commented on #493
Both of the videos attached have no visual artifacts which is good. Regarding the producer timestamps... That will be whatever the producer device timestamps reports. If I remember it correctly, you guys use the KVS sink. It uses the default GETTIME() implementation which evaluates to defaultGetTime() API call in PIC utils/src/Time.c You can overwrite this API to suit your needs. I am puzzled thou

[2020-06-19 21:08] chehefen commented on #480
you can follow the instruction here: https://github.com/awslabs/amazon-kinesis-video-streams-producer-sdk-cpp#configure to build with BUILD_DEPENDENCIES=OFF.

[2020-06-19 21:14] chehefen commented on #475
the change in done in f620d3a7e8f08883660bab8c7a39d4b90246a714. You can follow instruction here: https://github.com/awslabs/amazon-kinesis-video-streams-producer-sdk-cpp#configure to do BUILD_DEPENDENCIES=OFF

[2020-06-19 21:39] MushMal commented on #491
I get normal playback with your frames in C producer sample (I had modified it) with this commit: https://github.com/awslabs/amazon-kinesis-video-streams-pic/commit/cdb9160cbb20b598b6f6516d552e5dcd0b82e075

Can I ask you to code review it?

[2020-06-19 22:05] farleylai commented on #491
Sure, it would be my pleasure and I will review it soon.

[2020-06-20 12:43] mggunman commented on #470
@MushMal,
I've tried the docker version and it builds and runs perfectly both the Java and C++ producer SDK versions, the only issue is passing through the built-in webcam from the laptop running windows to the docker container running on ubuntu - I've searched around but there is no real decent method, its either build and install a bunch of programs and create another container with it or your m

[2020-06-20 20:45] farleylai commented on #491
I rebuilt the code base with the latest commit and the behavior is consistent with yours. After going through the code changes, I sort of figured out why those NALUs before SPS/PPS may need to be filtered out.

First, to my understanding,
- AVCC and AnnexB. frames should be convertible to each other regardless of the order of NALUs inside
- the only special concern is to compose the AVCC extradata

[2020-06-22 14:26] Subburaj47 opened #494 "[BUG] CMake error with "target_compile_definitions" and environment variables"
**Describe the bug**
I believe the minimum_required_version in the available CMakes are 2.8. I face a problem with the cmake while cmake runs in 2.8 versions.

1. The cmake function "target_compile_definitions" seems to be an unknown command.
2. "CMAKE_LANGUAGES_COMPILER_ENV_VAR" and "CMAKE_LANGUAGES_COMPILER" modules are not found.

**To Reproduce**
Have a 2.8 version of cmake available in the bu

[2020-06-22 15:22] Sean-Der commented on #494
@Subburaj47 Thanks for the report!

What Linux distro + version are you using? Will reproduce this today, thanks!

[2020-06-22 17:13] chehefen commented on #493
@indoorrobot can you follow the steps here https://github.com/awslabs/amazon-kinesis-video-streams-producer-sdk-cpp#debug to get a mkv dump? Can you check whether the timestamp is incorrect inside the mkv?

[2020-06-22 17:49] MixMasterMitch commented on #493
It would also be beneficial to get a better sense of what is happening on the playback side too. Any chance you could open the network tab of the browser and send us the manifest that was loaded from KVS (should be URL path ending in `getDASHManifest.mpd`)?

[2020-06-22 18:22] MushMal commented on #470
@mggunman understood, indeed, it will be very hard to expose the hardware resources such as webcam through a container on a vastly different OS-es.

We are trying to reproduce the Windows build issue to try to see how we can get some remedy for the 3rd party open-source components that we rely on. Will update as soon as we get more info

[2020-06-22 18:52] MushMal commented on #491
@farleylai there are two commits in the PR I submitted. The first one handles SPS/PPS extraction from the CPD (which might have other NALus) and handling of 4 zeroes and 1 as an Annex-B format. As we spoke, this is an invalid Annex-B format produced by a bad encoder, hence, I did put this behind a compile-time flag instead of a dynamic option. Understandably, it's the extra zero that's interfering

[2020-06-22 18:55] MushMal commented on #485
It's been over a week for the last update. Do we know any more details? If not, this issue is stale and I will be resolving it soon

[2020-06-22 19:53] mggunman commented on #470
@MushMal,
To reproduce the errors I would install a fresh copy of windows, then install visual studio 2019 + CMake dev tools, git, chocolately, nasm, strawberryperl, GStreamer and try from there. But I also downloaded CMake separately and OpenSSL and I've been using the NASM cli.

[2020-06-23 06:53] Subburaj47 commented on #494
@Sean-Der : Running on a thirdparty system. Here are the details.
/mnt/ramdisk/root # cat /proc/version
Linux version 3.10.104+ (charlie@isbu-virtual-machine) (gcc version 5.2.1 20151005 (Linaro GCC 5.2-2015.11-2) ) #1 PREEMPT Mon May 18 16:01:21 CST 2020

[2020-06-23 07:13] farleylai commented on #491
@MushMal Thanks for making effort to improve the interoperability of KVS. Perhaps, I didn't make it clear earlier on. As commented previously, there was an inconsistency between your first commit (`5e9f8c`) and removing the trailing zero byte on my side that WORKS with the master branch WITHOUT filtering out AUD/SEI. However, you said those non-VCL NALUs need to be removed too for the console play

[2020-06-23 15:31] MushMal commented on #485
Resolving as stale. Please feel free to reopen or cut a new one.

[2020-06-23 15:31] #485 closed

[2020-06-23 15:32] MushMal commented on #493
Any further update on this?

[2020-06-24 08:32] #493 closed

[2020-06-24 13:10] mggunman commented on #461
So I managed to fix this issue as I started a discusion on the mailinglist for GStreamer. The issue was that I had installed numerous copies of GStreamer both the runtime and development version and apparently each time you switch between MinGW or MSVC version or download a new copy of GStreamer you need to refresh the cache for GStreamer by just deleting it, I couldn't locate the cache on AppData

[2020-06-26 04:03] MushMal commented on #490
@jlong29 I took the liberty to edit the title and remove the "bug" tag.

This is an interesting case. Generally speaking, the initial call to GetMedia will result in some delay due to the backend mapping the selector and some other processing that happens. As soon as the egress starts, the stream can burst to catch up with the current (head). This is an expected behavior. However, what you are rep

[2020-06-26 04:08] MushMal commented on #494
Seems that CMake 2.8.11 contains target_compile_definitions

https://cmake.org/cmake/help/v2.8.11/cmake.html#command:target_compile_definitions

and this is the earliest version that started to have the directive.

We should update the make file to reflect this

[2020-06-26 04:09] MushMal commented on #480
Resolving due to staleness

[2020-06-26 04:09] #480 closed

[2020-06-26 04:09] MushMal commented on #479
Resolving due to staleness

[2020-06-26 04:09] #479 closed

[2020-06-26 04:10] MushMal commented on #475
Please reopen if still having issues

[2020-06-26 04:10] #475 closed

[2020-06-26 04:12] MushMal commented on #466
@FlorianRuen is there any update on this issue? From what I understand this is an issue with the media pipeline you have?

[2020-06-26 04:13] MushMal commented on #441
Resolving due to staleness. Please reopen or cut a new issue with more details if needed

[2020-06-26 04:15] MushMal commented on #433
Resolving due to staleness. Please feel free to cut a new issue with details if needed

[2020-06-26 04:15] #433 closed

[2020-06-26 04:15] MushMal commented on #400
Resolving due to staleness

[2020-06-26 04:15] #400 closed

[2020-06-26 04:16] MushMal commented on #386
I am going to resolve this issue as it's not immediately actionable on our side.

[2020-06-26 04:16] #386 closed

[2020-06-26 04:17] MushMal commented on #374
I am resolving this due to staleness. Please cut a new issue with the details if this continues to happen

[2020-06-26 04:17] #374 closed

[2020-06-26 04:18] MushMal commented on #357
This is being tracked as part of a hack to support broken encoders: https://github.com/awslabs/amazon-kinesis-video-streams-pic/pull/68

and this is also a dup. Resolving this one

[2020-06-26 04:18] #357 closed

[2020-06-26 08:10] FlorianRuen commented on #466
@MushMal Yes it is, as I can said, when I run the pipeline with my application loops appear, but loops doesn't appear when I run the command directly in container. But it's exactly the same command i run using my app or the command inside the container

I don't take more time to make more test on it (due to others things to do), but I will try to go deep into this case on the next week, even if I

[2020-06-26 09:15] aeperaltan commented on #469
Should I expect an answer or any help on this? I opened a support case and was instructed to use GitHub... used GitHub and nothing!!!

[2020-06-26 09:18] aeperaltan commented on #470
@MushMal, we have tried to make this work for a long time and you are not helping. Please advise!

[2020-06-26 09:19] aeperaltan commented on #471
@MushMal, can we get an update on this?

[2020-06-26 15:29] MushMal commented on #470
@aeperaltan these are third party components which have nothing to do with KVS. As you see, we are interested in supporting Windows platform in general and are trying to understand what causes these build issues. No updates yet

[2020-06-26 16:56] MushMal commented on #466
Thanks for the update Florian. I don't see this particular thread serving more purpose. I am resolving this issue. Please cut a new issue with more details as you discover those.

[2020-06-26 16:56] #466 closed

[2020-06-26 17:00] MushMal commented on #469
@aeperaltan as these not assets owned by us (these are third party open-source components that fail building on Windows) we can't give any answers. Will update ASAP - the builds are running now

[2020-06-26 17:01] MushMal commented on #469
@aeperaltan as these not assets owned by us (these are third party open-source components that fail building on Windows) we can't give any answers. Will update ASAP - the builds are running now

[2020-06-26 18:19] MushMal commented on #491
The fixes are in PIC. We will be updating the C producer and CPP producer commits soon

[2020-06-29 00:19] MushMal commented on #491
Changes are in

[2020-06-29 00:19] #491 closed

[2020-06-29 21:44] lpawlaczyk opened #499 "Windows 7 and KvsSink"
I have been trying to run KvsSink on Windows 7 with latest GStreamer. KvsSink fails with a null pointer exception from GLib. Are there any reasons why KvsSink would not work on Windows 7 if it was compiled using latest VS 2019 on Windows 10?

[2020-06-29 22:07] MushMal commented on #499
@lpawlaczyk could you please include a little more information about your usage:

* Are you using kvs sink from gst-launch-1.0 command line or embedded within your application?
* Can you reproduce the issue with stock gst-launch-1.0 and the kvs sink?
* Can you reproduce the issue when replacing kvs sink with fake sink?

Could you please capture debug KVS logs and GST logs? You can use GST_DEBUG=4

[2020-06-30 07:15] lpawlaczyk commented on #499
1. I am using KvsSink from command line with the following setup:

C:\gstreamer\1.0\x86_64\bin>gst-launch-1.0 -v filesrc location=file.mp4 ! qtdemux ! h264parse ! avdec_h264 ! videorate ! video/x-raw,framerate=1/1 ! videoscale!  video/x-raw,width=416,height=416 ! x264enc bframes=0 key-int-max=1 bitrate=512 tune=zerolatency ! h264parse ! video/x-h264,stream-format=avc,alignment=au ! kvs
sink stream

[2020-06-30 07:15] #499 closed

[2020-06-30 07:51] maheshwari-siddharth commented on #482
Hi Mushmal

could you be able to fix that

Thanks
Siddharth Maheshwari

[2020-06-30 08:51] supavit28 opened #500 "[GStreamer] Fragment duration is varied even though I have already changed in kvssink element (gstreamer)"
**Issue**
I can't set fragment duration while using kvssink from gstreamer

**Steps to reproduce the behavior:**
1. Run example code with some more argument to match my requirement. (https://docs.aws.amazon.com/kinesisvideostreams/latest/dg/examples-gstreamer-plugin.html)
[code]
or
[code]
2. It will get KVS setting in output terminal as follow
[code]
and KVS metrics output as follow
[code]
After I

[2020-06-30 09:37] js1972 commented on #441
@MushMal Just wanted to let you know tat I finally got around to testing the advice to change the source and set:
[code]

It works. On iOS the stream now works first time every time. Before setting this var to TRUE it would only work on iOS on the second attempt which was quite annoying.

Note that it always worked on Android though - so Android must be more tolerant of the first frame being a key

[2020-06-30 18:28] MushMal commented on #441
Interesting.. I would imagine that the media pipeline/application would vet out the "bad" frames that would come in first but perhaps initializing the skip indicator to true and skipping all non-key-frames initially is a good default.

In order to land this change we need to:

* Ensure we think through all of the edge cases (nothing serious comes to mind)
* Add targeted unit tests

[2020-06-30 18:37] MushMal commented on #499
@lpawlaczyk it seems that you've resolved the issue without any explanation.

I am looking at the bug report and I can't see anything useful - I was hoping for some core dump or at least stack trace. From what I can decipher in the bug report is that there is a null dereference somewhere.

The logs indicate a timeout calling PutMedia backend API. As I don't see the verbose logs I can only assume t

[2020-06-30 18:41] MushMal commented on #482
Apologies, MacOS Catalina with the hardware profile you are referring to is not something we have tested yet. We will update once we have a chance to test. Meanwhile, were you able to use fakesink instead of kvs sink to eliminate the kvs dependency?

[2020-06-30 18:50] MushMal commented on #500
@supavit28 it seems that you are using the hardware accelerated encoder so the RPi should be able to handle 1080p resolution without major CPU impact. I can't quite tell what's causing the fragment duration changes when you increase the resolution - perhaps you need to change a few encoder params including the key-frame interval param and the bitrate. Even with hardware encoder, the CPU will have

[2020-06-30 19:09] MushMal commented on #441
@js1972 John, could I ask you to attach the first frame (likely an SEI NALu) or the MKV that contains to the GitHub issue so others can look into it as well? I would like to understand what the bits are and whether they might have any downstream effect?

[2020-06-30 23:36] MushMal commented on #490
@jlong29 do you have any update on this issue?

[2020-07-01 01:34] maheshwari-siddharth commented on #482
can you please help me by giving a fakesink exact command, i will try that

[2020-07-01 03:05] js1972 commented on #441
Hi @MushMal is it possible to re-open this incident while the testing is taking place.

[2020-07-01 03:30] supavit28 commented on #500
@MushMal Thank you for your suggestion. Now I try to tune some parameters on both encoder and kvssink. It seems that there is some issue to set fragment duration. I will report on the issue and the solution once I found it because I hope it will help someone who face this problem too.
If I still struggle, I will comment on this issue again. Can you please open this issue for a couple of days?

[2020-07-01 05:20] MushMal commented on #482
You could try something like this

`gst-launch-1.0 autovideosrc device=/dev/video0 ! video/x-raw,width=1280,height=720 ! videoconvert ! vtenc_h264_hw allow-frame-reordering=FALSE realtime=TRUE max-keyframe-interval=45 bitrate=5000 ! h264parse ! video/x-h264,stream-format=avc,alignment=au,profile=baseline ! decodebin ! autovideosink`

[2020-07-01 05:30] MushMal commented on #441
Yeah, of course I will reopen the issue. Sorry, for some odd reason I must have typed the GitHub alias and then added John :) Sorry Jason. Please help us get that first frame so we can see what that is. Blank removing it might break some of the analytics or playback engines down stream. We are trying to see whether removing non-key-frame vs adapting the media pipeline is the best.

[2020-07-01 05:42] MushMal commented on #500
Sure, please feel free to provide updates. Normally, with RPi and Raspbian OS-es we haven't had much problems using the hardware encoder. Please take a look at this page with some RPi sample pipelines: https://github.com/awslabs/amazon-kinesis-video-streams-producer-sdk-cpp/blob/master/docs/linux.md

[2020-07-01 06:24] js1972 commented on #441
How do I get this for you... Save a new mkv file like from here : https://github.com/awslabs/amazon-kinesis-video-streams-producer-sdk-cpp/issues/441#issuecomment-630437212

[2020-07-01 06:39] MushMal commented on #441
Yeah, that will work. We don't preserve the earlier sent files. I can then extract the frame directly from the MKV

[2020-07-01 18:35] jlong29 commented on #490
@MushMal I intend to follow up on this issue in the next few days. I am just rather busy at the moment. Please keep this ticket open.

[2020-07-01 22:58] MushMal commented on #490
Sounds good, we will keep the issue open, though, by all means, even if the issue is resolved, we can re-open it without any problems.

If the issue proves to be the "consumer" side then we will have to analyze where the latency is and what's causing it. It's hard to tell without any data. Generally speaking, I doubt that this could be related to the backend (though never say never) unless there i

[2020-07-02 01:55] js1972 commented on #441
Ok I have resent you the mkv file that I previously sent above to this email kinesis-video-support@amazon.com. This is the file that shows that the stream starts without a keyframe.

[2020-07-02 02:42] MushMal commented on #441
Perfect, thank you. Let me take a closer look and I will report back

[2020-07-02 06:04] jlong29 commented on #490
@MushMal I was able to collect the logs you asked for me to collect. I'll try to provide the relevant details:

**Endpoints**

- Gstreamer Producer
gst-launch-1.0 nvcamerasrc fpsRange="30.0 30.0" ! 'video/x-raw(memory:NVMM), width=(int)320, height=(int)240, format=(string)I420, framerate=(fraction)30/1' ! omxh264enc control-rate=1 bitrate=250000 peak-bitrate=500000 iframeinterval=7 profile=1 ! tee

[2020-07-02 06:08] thasin96 opened #501 "How to pass user id and user password of RTSP Stream?"
I am trying amazon-kinesis-video-streams-producer-sdk-cpp example in docker environment. How can I pass user-id and user-pw argument of RTSP stream? If I directly pass stream credentials, I am getting 404 error. If I didn't use credentials, I am unable to upload stream. Any idea regarding this issue would be helpful. Feel free to ask further details, If you require.

[2020-07-02 08:43] supavit28 commented on #500
Now I am be able to set fragment duration (with limitation) by setting interval-intraframes to match with framerate (as show in below code)
[code]
The result from above code is
[code]
But here are limitations which I found
1. If I change interval-intraframes=10 (expected fragment duration = 1 s), it gets both 1s and 2s fragment on terminal log.
[code]
This problem will not happen when setting inte

[2020-07-02 15:31] lherman-cs commented on #501
@thasin96 Do you mind to share which exact example are you using? If you're using `kvs_gstreamer_sample.cpp` example, unfortunately, you need to modify the example here, https://github.com/awslabs/amazon-kinesis-video-streams-producer-sdk-cpp/blob/master/samples/kvs_gstreamer_sample.cpp#L880-L883. You need to pass `user-id` and `user-pw` to `rtspsrc` plugin where you can find more details here, ht

[2020-07-02 18:11] lherman-cs commented on #500
@supavit28 from your comment, it sounds like you're referring Current view duration as fragment duration. To make sure that we're on the same page, current view duration is not related to fragment duration.

Current view duration is simply a sum of frame durations that our internal buffer has at the moment the metrics got taken. So, for 2 and 3, these can definitely affect the current view duratio

[2020-07-02 20:07] Anshulkaaya opened #502 "[BUG] Can't find install-script after make"
mkdir -p amazon-kinesis-video-streams-producer-c/build;
cd amazon-kinesis-video-streams-producer-c/build;
cmake ..
make

After this step, can't find install-script after make. Please check snapshot
![Error](https://user-images.githubusercontent.com/37897247/86404666-413a0500-bc6d-11ea-8636-42eff8b5c396.PNG)

[2020-07-02 20:40] lherman-cs commented on #502
@Anshulkaaya I'm sorry for the inconvenience. Recently, we updated our build system to remove custom scripts. The script that you're referring, `install-script`, is no longer necessary since calling `cmake ..` will do the same thing.

[2020-07-02 20:42] lherman-cs commented on #502
Since there's no actual bug, I'll mark this as resolve. The documentation fix is being tracked here, https://github.com/awslabs/amazon-kinesis-video-streams-producer-sdk-cpp/pull/503.

Please feel free to reopen this issue if you need further assistance.

[2020-07-02 20:42] #502 closed

[2020-07-03 04:39] MushMal commented on #490
Hmm, interesting.. Thanks for the details. I just started looking at your producer side logs. I do see that in general, the network throughput is good. However, I see some interesting pattern here. Somewhere from the middle of the logs (same throughout)

I see a burst of key-frames:

2020-07-02 05:28:53 [547767710208] DEBUG - Kinesis Video client and stream metrics

2020-07-02 05:28:54 [5477677102

[2020-07-03 04:45] MushMal commented on #500
I am confused too. Per @lherman-cs suggestion, how do you determine the fragment duration? One way to do it is to look at the console playback which will tell you the fragment duration. If we really are talking about fragment durations (as opposed to current view duration which is about the duration of accumulated frames in the producer buffer which have not yet been streamed) then different encod

[2020-07-03 05:30] supavit28 commented on #500
I understand that the problem of fragment duration now is come from encoder not KVS.
I will try to test on better internet connection hope it fix my problem. Thank you both of you. @MushMal @lherman-cs

About the **overall view duration** show on kvs log, I can confirm that it is the same value same as **fragment duration** which show on console.
For example, I running below code.
[code]
The encod

[2020-07-03 05:38] thasin96 commented on #501
@lherman-cs - I tried `kinesis_video_gstreamer_sample_multistream_app` for that syntax is `AWS_ACCESS_KEY_ID=SAMPLEKEY AWS_SECRET_ACCESS_KEY=SAMPLESECRET ./kinesis_video_gstreamer_sample_multistream_app base-stream-name rtsp-url-file-name`

In this above exact example, how to pass `user-id` and `user-pw`? I tried passing authentication along wirh URP that also didn't help.

[2020-07-03 06:38] MushMal commented on #500
Just to note that the KVS plugin configures the sdk (for video stream content type) to have key-frame-fragmentation = true which means that the fragment-duration parameter is not used as the fragmentation is driven by the encoder in this case

[2020-07-03 13:47] lherman-cs commented on #501
You need to modify the example source code and recompile it (https://github.com/awslabs/amazon-kinesis-video-streams-producer-sdk-cpp/blob/master/samples/kvs_gstreamer_sample.cpp#L880-L883):

Before:
[code]

After:
[code]

[2020-07-03 16:35] jeromewe opened #504 "libopenssl build failure [QUESTION]"
make[2]: *** [CMakeFiles/project_libopenssl.dir/build.make:91：build/src/project_libopenssl-stamp/project_libopenssl-download] 错误 1
make[1]: *** [CMakeFiles/Makefile2:73：CMakeFiles/project_libopenssl.dir/all] 错误 2
make: *** [Makefile:84：all] 错误 2
CMake Error at open-source/amazon-kinesis-video-streams-producer-c/CMake/Utilities.cmake:93 (message):
  CMake step for libopenssl failed: 2
Call Stack (m

[2020-07-04 05:39] maheshwari-siddharth commented on #482
the command you mentioned is not even making "mykinesisvideostream"

below is a command we are able to make a video stream but audio is missing please help me here

gst-launch-1.0 autovideosrc ! videoconvert ! video/x-raw,format=I420,width=1280,height=720 ! vtenc_h264_hw allow-frame-reordering=FALSE realtime=TRUE max-keyframe-interval=45 bitrate=512 ! h264parse ! video/x-h264,stream-format=avc,ali

[2020-07-04 05:59] MushMal commented on #482
It’s not supposed to. I was just trying to help you to troubleshoot your rtsp connection first by eliminating the KVS all together

[2020-07-04 06:23] maheshwari-siddharth commented on #482
what should i do now the get the audio please help hee too

[2020-07-04 12:50] lherman-cs commented on #504
@jeromewe Sorry for the inconvenience. Could you try to rerun the cmake command again? We've been seeing this strange issue where you need to configure it twice to make it work. Of course this is not ideal, but it should at least solve your issue for now. We will keep this ticket open to keep track this issue to deliver a long term solution.

[2020-07-06 14:22] jlong29 commented on #490
@MushMal Thank you for helping me understand the producer logs better. I had been a little unclear upon how the "Current view duration (ms)" parameter related to fragments. This being said, I'm not sure your analysis is correct. Let me explain my Gstreamer media pipeline a bit. With the command:

gst-launch-1.0 nvcamerasrc fpsRange="30.0 30.0" ! 'video/x-raw(memory:NVMM), width=(int)320, height=(i

[2020-07-06 17:14] maheshwari-siddharth commented on #482
what should i do how the get the audio please help here too

[2020-07-06 18:52] MushMal commented on #500
What's the latest on this issue? Can we proceed and close this issue as resolved?

[2020-07-06 19:18] MushMal commented on #490
@jlong29 the "burstiness" might also be an artifact of the GStreamer pipeline thread starvation itself. Here are the few steps I would recommend.

1) Ensure you have GoP sizes no less than 1 second - this is important due to potential throttling from the backend.
2) Use GStreamer queue element in between the encoder and the downstream elements like kvs sink
3) To eliminate the KVS sink, replace kv

[2020-07-07 02:11] supavit28 commented on #500
Sorry for inactive a couple of days. I am on holiday. I think it can be closed now because it get clearer on how to set fragment duration.

[2020-07-07 02:11] #500 closed

[2020-07-08 00:00] chehefen commented on #490
@jlong29 we can confirm that the burst is coming from the producer:
![image](https://user-images.githubusercontent.com/35557327/86857241-f2c4a600-c072-11ea-985d-846bcaa19bbb.png)
This graph is generated by measuring the e2e latency of each frame when running KvsVideoOnlyStreamingSample in c producer repo. We will look into fixing this issue. Let's keep this issue open to track it.

[2020-07-08 03:33] uyennguyen16900 opened #505 "Can't compile and install the GStreamer sample in the kinesis-video-native-build"
I ran the command `brew install pkg-config openssl cmake gstreamer gst-plugins-base gst-plugins-good gst-plugins-bad gst-plugins-ugly log4cplus` to compile and install the GStreamer sample in the kinesis-video-native-build directory.
When I ran `./min-install-script`, I got this error:
[code]
If you have seen similar issues or have an idea on a solution, please help. Any help would be much appreci

[2020-07-08 03:41] jlong29 commented on #490
@chehefen Thank you very much for following up with me on this issue. Our observations are consistent. Standing by.

[2020-07-08 06:24] MushMal commented on #505
You might want to re-install Apple Commend Line Tools for xCode. Looks like a tools issue

[2020-07-08 16:56] uyennguyen16900 commented on #505
I ran `sudo rm -rf /Library/Developer/CommandLineTools` and then `xcode-select --install` to reinstall Apple Commend Line Tools, but it didn't solve the problem.
[code]

[2020-07-08 17:27] MushMal commented on #505
Are you using the latest SDK? I see kinesis-video-native-build in the path so I am wondering whether you have older version of the build intermixed with the new structure. Though, this wouldn't cause the linkage issue with the system library.

Can you please clone the latest repository and follow the instructions in the readme to compile? We don't have scripts for compiling any longer - the latest

[2020-07-08 17:58] uyennguyen16900 commented on #505
I deleted my project and cloned the latest repo. I ran `mkdir -p amazon-kinesis-video-streams-producer-sdk-cpp/build; cd amazon-kinesis-video-streams-producer-sdk-cpp/build; cmake ..` and got this error:
[code]

[2020-07-08 18:47] chehefen commented on #505
you need to do `cmake .. -DBUILD_DEPENDENCIES=OFF` if you have used brew to install everything. Also remember to set PKG_CONFIG_PATH  to point to your openssl's pc file before running cmake. You can get the path by running `brew info openssl`

[2020-07-08 22:15] uyennguyen16900 commented on #505
It works! Thank you for your help. But now I run into another error.
![Screen Shot 2020-07-08 at 3 11 00 PM](https://user-images.githubusercontent.com/45802706/86975608-8a86ca80-c12d-11ea-86d7-3ababbc27301.png)

Any help would be greatly appreciated!

[2020-07-09 01:30] #505 closed

[2020-07-09 05:31] uyennguyen16900 opened #506 "No such element or plugin 'kvssink'"
After running `make` in the build directory I executed CMake, I followed the instructions to set the environment variables.
I got `No such element or plugin 'kvssink'` when I ran `gst-inspect-1.0 kvssink`

![Screen Shot 2020-07-08 at 3 11 00 PM](https://user-images.githubusercontent.com/45802706/86999834-77ddb700-c168-11ea-8ed8-f6c72596a195.png)

I don't know if my build failed or GST_PLUGIN_PATH

[2020-07-09 05:34] disa6302 commented on #506
@uyennguyen16900 ,

Did you run cmake with `-DBUILD_GSTREAMER_PLUGIN=TRUE` ?
Can you check if gstkvssink library exists in the build directory?

[2020-07-09 05:44] uyennguyen16900 commented on #506
I did run `cmake ..  -DBUILD_GSTREAMER_PLUGIN=TRUE `.
I don't see gstkvssink library exists in the build directory.

![Screen Shot 2020-07-08 at 10 42 10 PM](https://user-images.githubusercontent.com/45802706/87001452-541c7000-c16c-11ea-90de-e80faa4acaef.png)

[2020-07-09 07:46] FlorianRuen commented on #466
@MushMal Hi there, I'm comming back to you, because I retry to found the problem on this case. After many investigations, I try to pull your docker image again, and to keep exactly the same pipeline that work when camera and internet are the same network, there is still backward when camera and internet aren't the same networks.

I run this inside a docker container directly (without using my app,

[2020-07-09 07:50] FlorianRuen opened #507 "[QUESTION] Backwards on KVS Pipeline using docker (2)"
Hi there,

I'm opening new case on a problem that is present from a long time ago (original post: https://github.com/awslabs/amazon-kinesis-video-streams-producer-sdk-cpp/issues/466#issuecomment-655964920)
(Maybe if possible, can you reopen same case to centralize discussions ?)

@MushMal @lherman-cs  I retry to found the problem on this case. After many investigations, I try to pull your docker i

[2020-07-09 13:21] FlorianRuen commented on #507
To complete my first message:

- I try to watch the HLS stream when the pipeline is running (it means, when video came on KVS service using pipeline and by running command directly in docker container), the backwards/loop (call it what you want) happening.

- But when I watch the HLS stream when the pipeline isn't running (I watch the buffer, or stream saved), the backwards/loop not happening !! (

[2020-07-09 17:47] MushMal commented on #507
@FlorianRuen having different number of BUFFERING ACKs and PERSISTED ACKs indicates an error and re-transmission. The SDK is configured to re-play form the buffer (from last ACK) on error which can result in duplicated fragments and it's by design.

Can you try changing the fragment selector type to Producer https://docs.aws.amazon.com/kinesisvideostreams/latest/dg/API_reader_HLSFragmentSelector.h

[2020-07-09 18:47] chehefen commented on #506
do you have gstreamer in your system?

[2020-07-09 18:55] FlorianRuen commented on #507
@MushMal I need to put this parameter to the pipeline directly ? Just by adding FragmentSelectorType=PRODUCER_TIMESTAMP ? Or I need to change this on docker image or something else ?

Thanks for your help, hope we will find a solution to this issue.

[2020-07-09 18:55] chehefen commented on #507
@FlorianRuen can you send us the mkv file captured using KVS_DEBUG_DUMP_DATA_FILE_DIR=/path/to/dir. I've asked this in the previous channel but it seemed that you havent give us the file. Producer just sends the content without any modifications. So we wanna make sure of the integrity of the upstream first.

[2020-07-09 19:07] MushMal commented on #507
This is on the Get HLS session call side

[2020-07-09 20:41] jupyter-note opened #508 "[QUESTION] How is the time zone set for a stream's server/producer time?"
I've written a Python consumer that ingests the latest fragment from the stream (using the GetMedia API with NOW selector) and does some processing. I'd now like to monitor how much time has elapsed since each fragment was produced.

I can successfully read the producer time from the fragment's metadata and convert it to a Python datetime object. It's then straightforward to determine the time ela

[2020-07-09 23:50] uyennguyen16900 commented on #506
I did download gstreamer

[2020-07-10 06:36] FlorianRuen commented on #507
@MushMal By default, when I use the KVS Dashboard, the default value is PRODUCER, so I try to change it to SERVER and back to PRODUCER, I record a video file to show you that it's exactly the same problem. [https://eyesr-files.s3.eu-central-1.amazonaws.com/stream_changement_producer_vers_server_et_inversement.mkv](https://eyesr-files.s3.eu-central-1.amazonaws.com/stream_changement_producer_vers_se

[2020-07-10 11:13] Subburaj47 opened #509 "[BUG] Failed to receive ack for uploads beyond 60 seconds"
**Describe the bug**
We have scenario where we don't get the acknowledgement for the uploads for 60 seconds. This occurs intermittently. Just before this, I could see the "storage overflow" reported from the stream callback. The storage size we have configured is 3MB.
I have seen logs where even after reporting the storage overflow handler, the stream gets recovered and the uploads go successful.

[2020-07-10 11:22] Subburaj47 opened #510 "[QUESTION]Should the streamClosedHandler be invoked for both stopSync() and stop()"
During the uninit, we use the stopSync and noticed that **streamClosedHandler invoked**. I believe the stopSync( ) is a blocking call. Is this a correct behavior to get an callback for this? If so, does the ack convey the stopSync completed or just the API return is fairly enough?
And the same callback is seen when the stop( ) is used.
![stopSync](https://user-images.githubusercontent.com/16294360

[2020-07-10 16:10] MushMal commented on #509
@Subburaj47 There are few issues that you are touching and I would like to take an in-depth look at this.

The SDK has a storage pressure callback (StorageOverflowPressureFunc) which gets called on less than 5% of storage availability. The default handler is only printing debug log but doesn't/can't handle it. If the pressure increases the storage will run out of space. Previously, the PutFrame AP

[2020-07-10 16:29] BlueClouDragon commented on #257
I have same problem. I ran the command on mingw64 shell
but the same problem with @norbyn
any solution?

[2020-07-10 16:45] MushMal commented on #510
stopSync() is a blocking API indeed. However, that has no bearing on whether the callbacks will be called or not. The core of the SDK is live-less (aka - no threads of it's own). It uses any of the liveness (threads) that call public APIs for control or events to drive the state machinery that can result in callbacks being issued.

In this case, once the stream is properly closed, the stream close

[2020-07-10 18:31] chehefen commented on #508
in producer timestamp mode, getMedia receives the same timestamp as the frame that was put into producer. So the consumer should have context about what time zone the stream was produced. By default, producer uses absolute timestamp. So you can easily convert each frame timestamp to UTC time also.

[2020-07-11 04:05] #506 closed

[2020-07-11 04:14] uyennguyen16900 opened #511 "The security token included in the request is invalid"
I ran this command to stream my macbook’s webcam to Kinesis Video Streams
[code]
 and I got the following error

[code]

I did define AWS_ACCESS_KEY_ID and AWS_SECRET_ACCESS_KEY environment variables with the AWS access key id and secret key.

[2020-07-11 17:58] jupyter-note commented on #508
Great, thank you!

[2020-07-11 17:58] #508 closed

[2020-07-13 15:54] chehefen commented on #509
@Subburaj47, can you show us the log where you dont get ack for 60s? Thanks

[2020-07-13 15:59] chehefen commented on #511
if you already defined the in the environment variable, plugin can pick it up directly. you dont need to defined them again in access-key and secret-key

[2020-07-13 18:05] disa6302 commented on #501
@thasin96 ,

Can you close the issue if the question is answered? Thanks!

[2020-07-13 18:06] #501 closed

[2020-07-13 19:05] chehefen commented on #507
you can build the producer easily from scratch on raspberry pi. The steps are here: https://github.com/awslabs/amazon-kinesis-video-streams-producer-sdk-cpp#configure. Can you try build the latest producer and see if the issue persists? You need to apt-get the dependencies first by doing `$ sudo apt-get install libssl-dev libcurl4-openssl-dev liblog4cplus-dev libgstreamer1.0-dev libgstreamer-plugi

[2020-07-14 14:36] Subburaj47 commented on #509
@MushMal : Thanks for the detailed answer.
@chehefen : As such we have only the app logs complaining about the putFrame failure (based on the return value). We will enable the kvs debug logs and repro the problem. Will share you the logs once we encounter it.
Thanks.

[2020-07-14 14:45] Subburaj47 opened #512 "[QUESTION]Query on the max latency, buffer duration and the content store values."
There are few scenarios where we encountered the streamLatencyPressure callback happening continuously.

** Any design considerations/constraints **
We configure the stream with the following stream definition values for the max latency, buffer duration and the content store.
max latency - **60 seconds**
buffer duration - **120 seconds**

From the documentation, we understood that we hit the strea

[2020-07-14 16:21] FlorianRuen commented on #507
I try it today. EVerything is fine (no error), but when I try to run the command gst-inspect,the message is "No element kvssink", the documentaiton say that came from the export which failed, but I try many times, with good path and seems not working.

The compilation is successfully finish with message:
[code]

So no errors appear during the compilation process.

[2020-07-14 16:55] MushMal commented on #509
Our current theory is that we are actually getting ACKs but the core logic of mapping the ACK timestamp to the timeline in the content view is erroring with

0x52000047 | STATUS_ACK_TIMESTAMP_NOT_IN_VIEW_WINDOW

which means that the frames have been pushed out of the view by the PutFrames and ContentStore pressure. The result is that the client callback is not being called which then triggers your

[2020-07-14 17:10] MushMal commented on #512
Some background:

bufferDuration (https://github.com/awslabs/amazon-kinesis-video-streams-pic/blob/master/src/client/include/com/amazonaws/kinesis/video/client/Include.h#L926) this value controls the temporal view duration of the ContentView. This simply means how long the buffer should be kept in memory max, given, the ContentStore can accommodate the actual frames sizes. Note: the ContentStore i

[2020-07-14 17:20] FlorianRuen commented on #507
I try to rebuild everything from scratch according to your previous message, and it seems there is no backwards and no loops on the KVS dashboard.

By the way, when I stop the pipeline by CTRL+C on raspberry pi, the stream stop immediatly on KVS dashboard (which is not the case using the previous docker image)

D I need to create a docker image from the rebuilt sources to use it with my applicatio

[2020-07-14 17:25] MushMal commented on #509
I apologize, actually, I misspoke, the fragmentAckReceivedFn callback will still be called even if the timestamp is out of the temporal window: https://github.com/awslabs/amazon-kinesis-video-streams-pic/blob/master/src/client/src/StreamEvent.c#L928

[2020-07-14 17:52] chehefen commented on #507
you can move the process into background: https://stackoverflow.com/questions/46283647/how-to-move-a-running-process-to-background-unix

[2020-07-14 19:03] FlorianRuen commented on #507
I know this, but it's not my question.

My question is: today I use a Python script to get data from a database, building pipeline with those informations and running docker image with command line to send stream to KVS. Do I need to adapt my code to work with the C library directly (instead of docker image) or I can create a new docker image from the sources I built to fix the issue ?

If i use C

[2020-07-15 18:17] chehefen commented on #507
The raspberry pi docker image doesnt do anything other than providing a built library. The end result should be the same as building the library from scratch. Not sure what you mean by doing a lot of works to adapt.

[2020-07-16 21:37] FlorianRuen commented on #507
AS I said, today I'm using my own python script to get pipeline detail (remote id, aws credentials and so one) from a webapp (and a database), to build the pipeline and to run it (and apply some other function when the pipeline is running to auto-stop it and so one)

But all this process is done to work with a docker image (docker connect, docker create, docker start ...), if I can't do that becau

[2020-07-16 23:30] chehefen commented on #507
sorry for the inconvenience. Our docker images need to be updated. For now you can work around by building your own image using the steps I mentioned before to build the library from scratch. We will try to update the docker images as soon as possible and will update in this thread once thats done.

[2020-07-17 08:25] rraghav476 opened #513 "given error when run from outside of the directory"
if i am running it from outside just like home or from localhost i got error like
this

log4cplus:ERROR could not open file kvs_log_configuration
log4cplus:ERROR No appenders could be found for logger (com.amazonaws.kinesis.video.gstreamer).
log4cplus:ERROR Please initialize the log4cplus system properly

but when i try inside the directory where sample_app located its run properly
can u help me

[2020-07-17 15:55] jlong29 commented on #490
@chehefen @MushMal Any updates upon the status of this issue? I ask because improving this behavior will greatly improve the service we are building upon KVS.

[2020-07-17 15:56] disa6302 commented on #513
@rraghav476 ,

The log_configuration file is located inside the samples directory. If you run the samples, it should pick up that path from the build directory itself.
If you are running gstreamer pipeline, one thing you can do is adding this: `log-config=<path-to-kvs_log_configuration-file>` to the pipeline and it should work.

[2020-07-17 15:58] disa6302 commented on #511
@uyennguyen16900 ,

Are you still facing issues?

[2020-07-17 15:59] disa6302 commented on #510
@Subburaj47 ,

Closing this assuming your question is answered. Feel free to open an issue if you have face any issues. Thanks!

[2020-07-17 15:59] #510 closed

[2020-07-17 16:22] disa6302 commented on #507
@FlorianRuen ,

The docker images are updated. Feel free to use it if you would like. Sorry for the inconvenience again.

[2020-07-17 16:24] #507 closed

[2020-07-17 21:50] FlorianRuen commented on #507
@disa6302 Thanks, I've try and it seems to be ok after the update. Can you give more details on what happend . So if it's happen again I can know the reason and it will be faster to resolve something like this ?

Thanks

[2020-07-17 21:56] disa6302 commented on #507
@FlorianRuen ,

Our cpp repo was using submodules up until a few days back. Now we do not use submodules and docker was not updated to reflect the change.

[2020-07-19 15:03] disa6302 commented on #513
@rraghav476 ,
I am closing this ticket. Feel free to reach out if you face any issues.

[2020-07-19 15:03] #513 closed

[2020-07-19 16:03] FlorianRuen commented on #507
@disa6302 Did you update the docker image for Rspberry pi also ? Because when I pull the docker image, I see the latest created/update date in 12 months ago ?

I try using this image and it seems there is backwards and loops ...

[2020-07-19 16:10] disa6302 commented on #507
@FlorianRuen ,

Are you referring to the docker in https://github.com/aws-samples/amazon-kinesis-video-streams-demos/blob/master/producer-cpp/docker-raspberry-pi/Dockerfile?
It says updated 2 days ago. I have updated all the dockerfiles.

[2020-07-19 16:14] FlorianRuen commented on #507
I refer to this docker image on your ECR repo

`546150905175.dkr.ecr.us-west-2.amazonaws.com/kinesis-video-producer-sdk-cpp-raspberry-pi:latest`

This is the url from documentation

https://docs.aws.amazon.com/kinesisvideostreams/latest/dg/examples-gstreamer-plugin.html#examples-gstreamer-plugin-docker-download

[2020-07-19 17:19] disa6302 commented on #507
@FlorianRuen ,

Can you check now? To see if you have got the updated docker image in the ECR repo?

[2020-07-19 18:46] FlorianRuen commented on #507
@disa6302 It seems good, when I run the docker pull, there is some downloaded files

I'm trying to run the pipeline using this new image and I will be back on this case to update

[2020-07-19 20:19] FlorianRuen commented on #507
@disa6302 Very strange, the docker image succesfully updated but still backward on docker image using my app (my app just get the docker image, create a container, connect a second network and exec the pipeline into the container, but there is backward)

I try and there is no backward when I run the pipeline directly in the container.

Maybe this is cause by the python docker API or something I ig

[2020-07-20 10:28] imizus opened #515 "[BUG] 0x52000062 during streaming"
**Describe the bug**
Error 0x52000062 during the continuous streaming

**To Reproduce**
Running the application, that is streaming the video with 30 fps to KVS and streaming.
At some point during a continuous uploading of the frames, 0x52000062 (MKV Header Error) error occurs and after that if the application tries to continue streaming, it receives multiple 0x5200004a (End Of Stream) errors and d

[2020-07-20 15:34] TaihuaLi opened #516 "Build Error on Mac"
when I execute `cmake ..` in the build folder, this is the error I got

[code]

Has anyone encountered this issue and resolved it?

[2020-07-20 16:37] TaihuaLi commented on #516
I used the `--host`` flag to cross compiled and it passed that step but choked on another. They all come from the `project_log4cplus` package.

[2020-07-20 16:47] TaihuaLi commented on #516
Here is the error
[code]

[2020-07-20 18:19] MushMal commented on #515
@imizus 0x5200004a (https://github.com/awslabs/amazon-kinesis-video-streams-pic/blob/master/src/client/include/com/amazonaws/kinesis/video/client/Include.h#L124) is the End of Stream indicator - it's not an error but a way the PIC communicates to upstream that the particular session/stream is closed. In 3.0.0 this was being printed out as a warning/error in the logs but this was fixed a few commit

[2020-07-20 19:32] lherman-cs commented on #516
@TaihuaLi I can't reproduce your issue, could you try to build log4cplus manually apart from Producer SDK? Also, since this issue is related to log4cplus, I think you can get more help if you ask log4cplus team, https://github.com/log4cplus/log4cplus.

[2020-07-20 19:35] TaihuaLi commented on #516
Ok. I did install log4cplus through brew directly, and when I executed `cmake` with build dependency off, even though everything worked fine, `kvvsink` was not found.

[2020-07-20 19:39] TaihuaLi commented on #516
my Mac is on 10.14.6 (Mojave). Not sure if it's causing the problem. Let me update to Catalina and try it again.

[2020-07-20 20:31] lherman-cs commented on #516
Did you export `GST_PLUGIN_PATH` to your build directory, as shown here, https://github.com/awslabs/amazon-kinesis-video-streams-producer-sdk-cpp#gstreamer-plugin-kvssink?